[2016-12-02 18:38] hjacobs opened #1 "MVP"
* poll `Ingress` resources every X seconds
* create one Application Load Balancer (ELBv2) per SSL certificate ARN
* write back ELB DNS name to `Ingress` "status":

[code]

[2016-12-08 14:18] aryszka opened #3 "Testing"
to support future changes, we can write relatively 'economic' tests the following way:

mock aws and kube. aws can be mocked on the level of the used sdk functions, and the sdk calls can be plugged in the current aws wrapper if it accepts interfaces instead of direct references. mocking the kube api is simpler, it can actually run from an httptest.Server (see https://github.com/zalando/skipper/pul

[2016-12-08 18:50] lmineiro commented on #3
Apart from the ec2metadata (which is by itself relatively easy to mock), for all the other AWS services I've already used the *iface.<foo>API counterparts for exactly that purpose. If the session provided points to a local httptest.Server we get the exact same behavior as for the k8s API.

[2016-12-12 22:36] #1 closed

[2016-12-13 12:13] linki opened #6 "ALBs are reused across clusters in the same account"
when ALBs are configured with the same cert they are supposed to be reused. currently it seems that they are reused across clusters as well. this might lead to problems as two clusters have different target groups. needs to be confirmed.

[2016-12-13 12:13] linki opened #7 "load balancer address not reported back"
if an ALB is reused (because two ingresses use the same cert arn), only the first ingress has its ADDRESS field updated

[2016-12-13 18:36] lmineiro commented on #6
The collision is a know limitation and it's mostly due to the naming convention for the created AWS resources (ALB and TargetGroup).

We'll switch this to use the cluster ID and a fragment of the cert arn.

[2016-12-13 20:55] lmineiro opened #9 "Implement Adapter also for Kubernetes"
Currently all the AWS operations are encapsulated in its own Adapter while the Kubernetes operations are directly exported.

For a cleaner design the Kubernetes operations should have a similar Adapter.

[2016-12-14 08:56] Raffo commented on #9
You would obviously need to rename a couple of things. I was about to attempt a refactor to have a configurable port, but better have the two things done together probably. Let's discuss it together offline.

[2016-12-16 08:55] #6 closed

[2016-12-16 08:55] #7 closed

[2016-12-16 13:18] lmineiro opened #12 "Consider also HTTP load balancers"
Some ingress resources can require only HTTP. This can potentially be achieved with a single ALB since skipper takes cares of the routing using the Host header.

Let's use this issue to discuss if this makes sense and share some ideas

[2017-01-04 10:47] Raffo opened #13 "Error when discovering previous ALBs"
In the current implementation, the discovery of previously available ALBs in only done based on the ARN: https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/worker.go#L76
In case we have a previous existing ALB with the same ARN, this would would be discovered and attached correctly, but the target group will be empty.

[2017-01-04 22:36] lmineiro commented on #13
nice find

[2017-01-05 17:06] #13 closed

[2017-01-09 09:00] ideahitme opened #15 "Use k8s client for ingress resource listing"
Current implementation makes use of the hardcoded structs for deserialisation and manual http calls to API server to list ingress resources. This might be difficult to maintain in the future
This should be changed to use the https://github.com/kubernetes/client-go. Examples can be found in https://github.com/zalando-incubator/mate/blob/master/producers/kubernetes/ingress.go#L45

[2017-01-09 09:02] lmineiro commented on #15
This was an informed decision. The client libraries are massive and the "cost" you mentioned were considered reasonable.

[2017-01-09 09:47] ideahitme commented on #15
it is only about 11Mb, but since it is an informed decision closing this issue

[2017-01-09 09:47] #15 closed

[2017-01-13 13:27] hjacobs opened #16 "ValidationError: An ARN must be specified"
My Ingress resource does not work atm, no ALB is created. The logs say:
[code]

My Ingress looks like:

[code]

[2017-01-13 19:02] hjacobs commented on #12
This is definitely a requirement and needed to close https://github.com/zalando-incubator/kubernetes-on-aws/issues/169

[2017-01-13 19:07] hjacobs commented on #12
Requirements are:

* always add an HTTP listener to every Application Load Balancer
* redirect HTTP to HTTPS by default (done by Skipper)
* allow Ingress without any SSL certificate ARN => create a new ALB with fake "empty" SSL ARN and HTTP-only listener

[2017-01-16 08:49] Raffo commented on #16
I guess we can close this via #17

[2017-01-16 08:51] #16 closed

[2017-01-16 23:05] hjacobs opened #18 "Documentation"
Add basic documentation on how to configure and what assumptions are made.

[2017-01-24 16:30] lmineiro commented on #9
Closed with #20

[2017-01-24 16:30] #9 closed

[2017-01-24 16:53] hjacobs opened #22 "Support "internal" Application Load Balancers"
Support an annotation to create an `internal` ALB instead of `internet-facing`. The annotation for the Kubernetes ELB integration is `service.beta.kubernetes.io/aws-load-balancer-internal`. See https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L78

[2017-01-24 16:54] hjacobs commented on #22
This is low priority for me (it's not needed in our Zalando context), but we should support it for completeness and other users.

[2017-02-09 17:38] hjacobs opened #23 "Consider allowing to configure ALB security group"
Idea: allow configuring the ALB security group via annotations:

* the optional `zalando.org/aws-load-balancer-security-group` annotation can select a different AWS Security Group by name
* the default AWS Security Group can be configured via a command line option

This allows using a default security group with IP restrictions and explicitly exposing the ALB by selecting an unrestricted security

[2017-02-09 20:04] lmineiro commented on #23
Could we consider another, similar, annotation where a ruleset could be defined?
I'm thinking about those scenarios where a deployer user doesn't have the access level that allows him to create a security group to reference but also wants to customize the security rules for his load balancer.

[2017-02-09 20:37] hjacobs commented on #23
@lmineiro I would try to keep it simple, specifying the full set of ingress rules is overkill (as annotation). My scenario does not necessarily require AWS rights, the security groups could pre-provisioned for known use cases (something like "restricted/company-internal" SG with IP restrictions and another one "public" for exposure).

[2017-02-09 20:38] lmineiro commented on #23
Fair enough. Let's keep it simple

[2017-02-11 13:46] hjacobs opened #24 "Automatically select the right SSL certificate ARN"
There is no reason why a human needs to manually find out the SSL cert ARN (e.g. with `aws acm list-certificates` on the command line). We can automatically select the right SSL certificate based on the Ingress `host`:

* Introduce a new annotation to force non-SSL (HTTP) (SSL should be the default so users should explicitly ask for non-SSL Ingress)
* Unless non-SSL is forced: go through the list

[2017-02-11 13:47] hjacobs commented on #24
/cc @lmineiro @linki

[2017-02-11 13:52] lmineiro commented on #24
Any suggestion on how to handle ambiguity?
Let's assume there are multiple matches.
In the case of certificates for `foo.domain.com` and `*.domain.com`, for the ingress `foo.domain.com` we should go with the most specific `foo.domain.com`.
Can there be the case where two certificates matching exactly with the same "weight"? Should we still leave the annotation to specifically choose one in place?

[2017-02-11 13:54] hjacobs commented on #24
Yes, we need to keep the annotation anyway (e.g. if there is no hostname matching rule, which is allowed in Ingress).

For multiple certs matching with the same "score": use the cert with the later expiration date. This is also necessary to support cert rotation (old cert still valid, but new cert already uploaded).

[2017-02-11 13:56] lmineiro commented on #24
Sounds good to me.

[2017-02-21 08:12] hjacobs opened #25 "Finding an HTTP Application Load Balancer crashes the Ingress AWS Controller"
According to @lmineiro having an HTTP (non-SSL) ALB manually created with the "managed" tags will crash the Ingress AWS Controller right now.

[2017-03-13 08:25] hjacobs commented on #24
Fixing this would get rid of the manual step for `zdeploy init --from-senza=..` (https://github.com/zalando-incubator/zalando-deploy-cli/issues/47).

[2017-03-15 10:49] ideahitme opened #27 "Add MAINTAINERS"
We need maintainers list here, first people to react to PR/issue requests

[2017-03-21 10:40] Raffo commented on #12
@mikkeloscar can this be closed?

[2017-03-21 10:42] sarnowski commented on #12
I think we still need to support hybrid pages where one part is HTTP and some more critical parts HTTPS. Think of an old-school ecommerce system where the browsing part is on HTTP and the checkout on HTTPS. Both served from the same domain.

[2017-03-21 16:18] #27 closed

[2017-03-27 12:10] #3 closed

[2017-03-27 12:12] lmineiro commented on #25
Fixed with #26

[2017-03-27 12:12] #25 closed

[2017-03-28 07:51] hjacobs opened #33 "Shit has hit the fan: runtime error: invalid memory address or nil pointer dereference"
Ran into this today:

[code]

:see_no_evil:

Docker image is registry.opensource.zalan.do/teapot/kube-aws-ingress-controller:v0.1.1

[2017-03-28 09:25] szuecs commented on #33
#36 will provide more insights where it happened

[2017-03-28 09:31] mikkeloscar commented on #33
And I suspect it is fixed as part of https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/26#issuecomment-287604880

[2017-03-28 10:34] hjacobs commented on #18
The `README` was updated with #32 with instructions on how to deploy.

[2017-03-28 10:38] szuecs commented on #24
#31 was merged and implemented auto discovery for ACM certificates. It uses the best matched, newest first approach as we discussed this will make it possible to safely update/revoke certificates.

[2017-03-28 10:39] szuecs commented on #24
Reopen, because only ACM was done, no IAM certificates.

[2017-03-28 14:08] Raffo opened #37 "Add example yamls on how to test it."
We should provide example yamls for an application for the end user to test this in the suggested scenario.

[2017-03-28 14:37] ese opened #38 "Use kubernetes.io/ingress.class annotation to be able to use with other controllers"
If the ingress resource has the annotation only take it in account if its match with the controller class. For example `kubernetes.io/ingress.class: alb`

[2017-03-28 14:46] hjacobs commented on #38
I would definitely make this configurable (i.e. only require the annotation if it was enabled via command line flag): as a user, I don't want to add an unnecessary annotation if I'm only using one Ingress controller in the whole cluster.

[2017-03-28 14:47] hjacobs commented on #37
What is this about?

[2017-03-28 14:51] mikkeloscar commented on #38
@hjacobs as I understand the issue is to only respect the annotation if it's there, if it's not there the ingress controller just takes full ownership.

Still this could be enabled/disabled with a flag.

[2017-03-28 14:54] hjacobs commented on #38
@mikkeloscar right, after reading @ese's text again I understand it in the same way :smile:

[2017-03-28 15:23] Raffo commented on #37
@hjacobs it's just a note while talking with a possible interested user... how do I test that it works? Sorry for creating an issue with not so much information, I was on the move.

[2017-03-28 19:08] hjacobs opened #41 "Application Load Balancers created without any listeners (inconsistent state?)"
** EDIT: I first suspected just logging, but now it looks like a problem with the non-atomic ALB creation process**

I see a lot of repeated log lines (in the same second!) which are not necessary (they only tell me that there is some ALB without certs which is totally fine):

[code]

FYI: the cluster has 8 Ingress resources and it's running v0.1.2 (registry.opensource.zalan.do/teapot/kube-aws-ing

[2017-03-28 19:11] hjacobs commented on #41
Actually the log lines might be a hint for a potential bug: the two mentioned ALBs have no listeners at all!

[2017-03-28 19:15] hjacobs commented on #41
I suspect some error happened during the ALB creation process (https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/aws/alb.go#L99) and the listeners were never created.

The process is not atomic and might lead to such inconsistencies...

[2017-03-31 07:51] #24 closed

[2017-03-31 08:51] szuecs commented on #33
@hjacobs can we close this, if @mikkeloscar is right it does not make sense to have it open

[2017-03-31 09:00] #33 closed

[2017-03-31 11:59] lmineiro commented on #41
Indeed, it's true that the current approach is not atomic and there was never a decision how to handle failure of creating any subsequent resources.

We should explore using CloudFormation to create managed ALBs.

[2017-03-31 12:01] lmineiro opened #42 "Consider using CloudFormation to create managed ALBs"
The current approach to create Application Load Balancers is not an atomic operation.

If we fail to create either the TargetGroup or the Listener(s) we'll leave an inconsistent ALB in place.

We should explore using CloudFormation templates for this to do this as a single, atomic, operation.

[2017-03-31 15:21] LappleApple opened #43 "Which of your open issues = "Help Wanted"?"
Let's label them "Help Wanted" to see if we can drive contributions. :)

[2017-03-31 15:51] hjacobs commented on #43
We labeled some: https://github.com/zalando-incubator/kube-ingress-aws-controller/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22

[2017-03-31 15:51] #43 closed

[2017-03-31 16:17] LappleApple opened #45 "Add some badges"
Travis CI, Coveralls, etc. ... :)

[2017-03-31 16:17] hjacobs commented on #45
Yes, good idea!

[2017-04-01 22:47] linki commented on #38
AppsCode's [Voyager](https://github.com/appscode/voyager) has a good approach. Like Mikkel describes and also configurable.

https://github.com/appscode/voyager#running-voyager-alongside-with-other-ingress-controller

[2017-04-03 07:32] lmineiro commented on #42
As expected, the first tests I did locally show that using CloudFormation can be used instead of individual API calls.
The good part is that we're able to get atomicity creating ALB + TargetGroup + Listener, attaching the ASG to the TargetGroup still needs to be a separate, non-atomic call.
The bad part is that creating a stack is an asynchronous call. There are API calls to do short polling and w

[2017-04-03 07:35] lmineiro commented on #42
CF Template draft:
[code]

[2017-04-03 07:50] lmineiro commented on #38
What value should we adopt for this controller? `alb` like suggested?

[2017-04-03 07:54] hjacobs commented on #38
We have one potential problem with the annotation: both the `kube-ingress-aws-controller` and Skipper need to listen on changes (in our Zalando setup). Skipper might just read ALL Ingress rules (ignoring the annotation), but otherwise we need to find a way of having multiple values for the annotation (to enable/disable `kube-ingress-aws-controller` and `skipper` separately).

[2017-04-03 10:02] szuecs commented on #38
@hjacobs Is it a problem if skipper serves also traffic configured by other ingress-controllers?
I think not, so skipper could just create all rules and if it does not get traffic for one rule, because someone use an ingress-controller that routes traffic to f.e. nginx, there is no problem.

[2017-04-03 10:13] lmineiro commented on #38
What @szuecs just mentioned is an important point that I've also been insisting.
The controller deliver things that are pretty standard - A LB with all the worker nodes as members and a DNS name. This can be used as a contract for what it delivers.
I'd even encourage other competing solutions to pick up that contract and transport traffic to applications inside a Kubernetes cluster.
We rely on Ski

[2017-04-03 15:17] lmineiro commented on #42
I've written an RFC doc to gather feedback. https://docs.google.com/document/d/1JewI6fpeeiQaYCSI8vjjgswD4dxOdozcDLAfkCg5bEU/edit?usp=sharing
Please add your input

[2017-04-06 07:11] hjacobs opened #47 "Support host/path rules evaluated by AWS ALB"
ALB can now do host-based routing.
https://aws.amazon.com/blogs/aws/new-host-based-routing-support-for-aws-application-load-balancers/

This would allow configuring ALB without an extra HTTP router (like [Skipper](https://github.com/zalando/skipper)).

The rule limit is 75 so this setup might not work for everybody...

[2017-04-06 11:01] alexkops commented on #47
I don't know if it's feasible or not, but would it be possible to default to ALB and only use Skipper if needed (rules are exceeded)? Transparently for the user?

[2017-04-06 11:41] hjacobs commented on #47
@alexkops in theory yes, we could even transparently create more ALBs on reaching the AWS rule limit. We have to check whether this makes sense for us in Zalando as Skipper also provides detailed metrics and potentially more features in the future.

[2017-04-06 11:44] hjacobs commented on #47
Also the networking part needs to be figured out as the ALB has to connect to the Kubernetes service which only has an internal `ClusterIP`.

[2017-05-17 13:27] linki opened #55 "Add this to the catalog"
We should add this [here](https://github.com/kubernetes/ingress/blob/master/docs/catalog.md).

[2017-05-18 15:28] szuecs commented on #55
https://github.com/kubernetes/ingress/pull/731

[2017-05-18 16:16] szuecs commented on #55
was merged

[2017-05-18 16:16] #55 closed

[2017-05-18 16:17] szuecs commented on #42
Was done by #54 #57 #56

[2017-05-18 16:17] #42 closed

[2017-05-18 16:17] szuecs commented on #41
Was done by #54 #57 #56
release version >= v0.3.0

[2017-05-18 16:17] #41 closed

[2017-05-18 16:22] szuecs commented on #37
@Raffo If everything works you should see in the status field of your ingress object. The yaml files to create an ingress are in the README section "Creating Load Balancers" and the deployment of this controller can be found in https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/deploy/
What do you think is required to close this issue?

[2017-05-19 07:23] Raffo commented on #37
Maybe a full example folder with yamls to test it and an explanation of what is the expected result?

[2017-05-19 14:40] #45 closed

[2017-05-19 14:43] szuecs opened #60 "add godoc"
There is no good [godoc](https://godoc.org/github.com/zalando-incubator/kube-ingress-aws-controller) right now for this

[2017-05-19 15:48] #37 closed

[2017-05-19 15:48] szuecs commented on #18
Is more required to close this @hjacobs ?

[2017-05-31 12:59] ideahitme opened #63 "Handle scenarios when cloudformation stack for ALB cannot be created"
If cloudformation stack for the ALB is for example in `DELETE_FAILED` state ingress-controller cannot recover and continuously fails. Therefore in some conditions it should be able to force delete the stack and recreate it.

[2017-06-08 07:36] mikkeloscar opened #64 "Should be able to update an ALB/TG with new settings"
Right now the ingress-controller will create a stack for each cert and never touch it again as long as there is an ingress with the cert.

Sometimes this is not enough as the ALB or TargetGroup configuration might change at runtime e.g. when enabling a new availability zone with new subnets.

The ingress-controller should be able to handle these cases by updating the stack with new configuration.

[2017-06-08 15:38] hjacobs commented on #64
Background: AWS now has a 3rd AZ in eu-central-1: https://twitter.com/try_except_/status/872190166131146752

[2017-06-13 13:24] hjacobs opened #67 "Configure Docker image build via CDP (delivery.yaml)"
We should configure automated Docker image build & push via CDP (`delivery.yaml`).

[2017-06-14 14:33] szuecs opened #68 "safely delete stacks"
While renewing certificates we saw that the ALB CF stack was deleted too fast, such that DNS was not switched so DNS pointing to the deleted ALB. This will be a problem for all ALB switching processes.

We propose to TAG orphaned stacks to be deleted with a timestamp and delete it if this is TAGed longer than 1 hour for example.

[2017-06-14 17:40] hjacobs commented on #68
Sounds like a plan :smile:

[2017-06-20 16:25] szuecs commented on #68
fixed

[2017-06-20 16:25] #68 closed

[2017-06-21 07:02] njuettner commented on #67
Fixed in #72

[2017-06-21 07:02] #67 closed

[2017-07-05 11:24] mikkeloscar opened #77 "Don't depend on custom resource tags"
Currently the ingress-controller depend on a custom tag: https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/aws/ec2.go#L231-L234, which is set by senza in our https://github.com/zalando-incubator/kubernetes-on-aws setup.

We should change this to not depend on custom tags. One solution would be to use `aws:cloudformation:stack-name` which has the same value as `Name` in o

[2017-07-26 11:53] szuecs commented on #64
#79 will fix this

[2017-07-26 12:52] #64 closed

[2017-07-31 12:41] schlomo opened #81 "Specify custom certificate by name instead of ARN"
# Use Case

Run a service behind a CNAME entry in another DNS domain.

## Example

An AWS account contains Route 53 zone for aws.company.com, DNS for company com is managed manually somewhere else. A service should run under myservice.aws.company.com but be reachable under myservice.company.com.

The AWS account also contains an ACM for `*.company.com`. We need an easy way to specify that ACM with

[2017-07-31 13:59] szuecs commented on #81
@schlomo This is very nice suggestion and how should this work with a list of names like in SAN certificates?

Maybe it should better have a list that uses AND to match all alternative names.

[2017-07-31 15:48] schlomo commented on #81
@szuecs I would see your suggestion as a more elaborate version. IMHO it is impossible that the simple use case also looks simple.

I am actually more worried about how to formulate the YAML so that it stays simple, that nothing is repeated and that it is clear in which DNS zone the record should be created.

[2017-08-01 07:58] szuecs commented on #81
How about:

    metadata:
      name: myingress
      annotations:
        zalando.org/aws-load-balancer-ssl-cert-domain:
        - *.example.org
        - test-app.example.com

Certifcate lookup has to find all of them.

Keep in mind that this has nothing to do with DNS. https://github.com/kubernetes-incubator/xternal-dns will not use this annotation. It will lookup what to do from the spec hostn

[2017-08-01 09:04] schlomo commented on #81
Can we support my version with a single domain as the simple fall-back case together with the list? In that case I think that the list is a great idea. Otherwise I would think that for every case the user should be able to specify one significant domain part for the certificate.

For services that have multiple endpoints I'd rather suggest users to create multiple ingress resources.

[2017-08-01 09:08] szuecs commented on #81
Fallback to single domain sounds good to me.
Thanks for the time creating a good understandable issue!

[2017-08-04 12:25] szuecs commented on #60
package overview looks now much better https://godoc.org/github.com/zalando-incubator/kube-ingress-aws-controller and rest is also ok

[2017-08-04 12:25] #60 closed

[2017-08-10 13:02] szuecs opened #86 "report error wrong certificate ARN"
We should write an error message to the Kubernetes status field and not be in an infinite create/delete loop, if the specified ARN can not be looked up.

[2017-08-25 12:22] mikkeloscar commented on #77
The solution would be to depend on the Kubernetes Cluster ID tag introduced in https://github.com/kubernetes/kubernetes/pull/41695 which requires changes in https://github.com/zalando-incubator/kubernetes-on-aws (For Zalando use case).

[2017-08-25 12:24] szuecs commented on #47
This is a bigger task and we have no reason right now to work on this, because we use https://github.com/zalando/skipper as ingress implementation to get metrics and more for different applications.

[2017-08-25 12:25] #18 closed

[2017-08-25 12:26] szuecs commented on #12
We will not work on this issue, if there is no request from people

[2017-08-26 17:35] hjacobs commented on #12
@szuecs yes, I think we could close this as we already support HTTP to HTTPS redirection via Skipper. HTTP-only should really not be something we want to offer in 2017.

[2017-08-26 19:16] #12 closed

[2017-08-29 11:12] AndreaGiardini opened #89 "Enable different levels of logging"
I haven't found a way to select different levels of logging

Right now the controller prints its status and information every time it polls the resources.
Would be nice to have a flag to select the desired logging level

In my case, for example, I would like to log only when the controller detects a change. Does this proposal make sense to you?

[2017-08-29 12:25] mikkeloscar commented on #89
@AndreaGiardini Yup, this makes a lot of sense, is it something you would be willing to implement? :)

[2017-08-31 10:01] AndreaGiardini commented on #89
I will have a look at it as soon as I have a bit of spare time :)

[2017-08-31 13:26] szuecs commented on #89
@AndreaGiardini If you do then please do it quiet by default and add a --debug flag.

[2017-10-04 10:12] #86 closed

[2017-10-06 13:38] szuecs opened #92 "support semi-automatic SAN cert lookup"
Follow up from #81

We should support a list of alternative names that should be covered:

    metadata:
      name: myingress
      annotations:
        zalando.org/aws-load-balancer-ssl-cert-domain:
        - *.example.org
        - test-app.example.com

Certificate lookup has to find all of them.

Keep in mind that this has nothing to do with DNS. https://github.com/kubernetes-incubator/externa

[2017-10-06 13:40] szuecs commented on #81
I close this issue and created a follow up #92  in case we want to support multiple hostnames in one ingress, which will be needed for some use cases.

[2017-10-06 13:40] #81 closed

[2017-10-09 12:26] szuecs opened #93 "v1.0.0 release"
We already met https://github.com/zalando-incubator/kube-ingress-aws-controller/milestone/1 (party)

[2017-10-11 18:05] hjacobs opened #94 "AWS Application Load Balancers Now Support Multiple TLS Certificates (SNI)"
AWS now added SNI support for ALB. The ingress controller currently creates one ALB per certificate. We should update the ingress controller to create one ALB for multiple TLS certificates (if this is desired, maybe configurable?): https://aws.amazon.com/blogs/aws/new-application-load-balancer-sni/

[2017-10-17 11:22] szuecs commented on #94
Example cli call showing which data is required

    aws elbv2 add-listener-certificates --listener-arn <listener-arn> --certificates CertificateArn=<cert-arn>

[2017-11-01 16:23] szuecs opened #95 "can not run on clusters created not by CF stack - for example kops"
https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/aws/ec2.go#L227-L255
makes string assumption on aws internal tags to find a security group which are only possible to be created by a CF stack.

Kops does not use CF stack to create a cluster so it's not possible to run this controller in a kops cluster

[2017-11-01 18:24] mikkeloscar commented on #95
Related to #77

[2017-11-01 19:31] arun-gupta commented on #95
Has an issue been logged in kops repo?

[2017-11-01 21:12] hjacobs commented on #95
@arun-gupta no, there is no issue in the kops repo AFAIK, but I think not using CF should not be a problem. The ingress controller should work when not using Cloud Formation, too.

[2017-11-02 16:49] #77 closed

[2017-11-02 16:54] mikkeloscar commented on #95
Fixed in #96

[2017-11-02 16:58] szuecs commented on #95
So one problem with kops is that they don't provision everything with the right tags, for example SecurityGroup `api-elb.<cluster-name>` has not the tag:

    kubernetes.io/cluster/<cluster-id>=owned

Additionally we need the tag:

    kubernetes:application=kube-ingress-aws-controller

[2017-11-02 17:05] szuecs commented on #93
We don't need to be v1.0.0

[2017-11-02 17:05] #93 closed

[2017-11-15 12:21] mumoshu opened #97 "Sharing an ALB across multiple clusters for no downtime cluster migration"
Hi, thanks a lot for sharing the great project 👍

I'd like to gradually migrate user workloads from one k8s cluster to another.
It can theoretically be achieved by having an user-facing ALB associated with target groups from multiple k8s clusters.

How it relates with this great project - kube-ingress-aws-controller?
I'd like to rely on kube-ingress-aws-controller anyway for automating operations

[2017-11-15 15:17] mikkeloscar commented on #97
Hi, Interesting use case!

How do you intend to run the ingress-controller? A Single controller in ONE cluster owning the ALB, or TWO controllers, one in each cluster sharing the ALB? I'm guessing the latter because you want the controller to attach two different target groups.

We currently have the tag `kubernetes.io/cluster/<cluster-id>=owned` set on the ALB stack. Maybe we could just make it p

[2017-11-16 03:50] mumoshu commented on #97
@mikkeloscar Hi, thanks for the response!

Regarding the controller deployment - yes, you are correct.
I'm currently assuming to have TWO controllers, one per cluster sharing the same ALB.
While migrating between clusters, I'd like to "mirror" as many k8s objects, including ingresses and ingress controllers, as possible to reduce operational burden due to fine-grained control. For me, "Just mirror

[2017-11-16 14:03] szuecs commented on #97
@mumoshu sound good to me and not really complicated to do.

Do you want to try to create a PR for this?

[2017-11-21 13:36] mumoshu commented on #97
@szuecs Yes, I'm willing to!

[2017-11-21 13:37] mikkeloscar commented on #97
@mumoshu great, looking forward to the PR! :)

[2017-11-23 18:17] mikkeloscar opened #98 "Can't handle terminal state UPDATE_ROLLBACK_COMPLETE"
If the stack ends up in `UPDATE_ROLLBACK_COMPLETE` state e.g. because of AWS issues when setting up the ALB, the controller will not be able to recover.

[code]

Workaround is to just delete the stack and let the controller create a new one.

[2017-11-29 11:08] szuecs opened #102 "Support multiple subnets per AZ using Kubernetes AWS tags"
As listed in https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L85-L91

These tags should be added to Subnets by the cloud-admin or cluster-operator to select the Subnet in which to create the loadbalancer interfaces (kubernetes uses these for ELB creation for service type LoadBalancer):

    // TagNameSubnetInternalELB is the tag name used on a subnet to

[2017-11-29 15:28] linki commented on #102
Possible solution: https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/103

[2017-11-29 16:23] szuecs commented on #102
Cool thanks @linki

[2017-11-29 17:09] #102 closed

[2017-12-06 12:21] mumoshu opened #105 "Spot Fleet support"
Hi, thanks as always for maintaining the great project!

Today my kube-ingress-aws-controller pod has fallen into CrashLoopBack emitting the following error:

[code]

Indeed it seems to expect the EC2 instance has the tag automatically added by ASG, perhaps for gathering e.g. a list of subnets ALBs should be attached.

I'm not entirely sure how it is implemented right now but would it be possible

[2017-12-06 17:39] szuecs commented on #105
@mumoshu which versions of this ingress-controller  are you using?
Did you upgraded recently?

[2017-12-06 19:29] cmcconnell1 opened #106 "AWS IAM Policy and documentation update / enhancement"
Hello,

Thanks for putting this out, looking forward to testing this.

In reading [ref kube-ingress-aws-controller prerequisites](https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/deploy/requirements.md#prerequisites)
Specifically: "The full list of required AWS IAM roles is the following"

And the code:
[code]

According to the doc, these seem to be intended for an IAM

[2017-12-06 21:59] cmcconnell1 commented on #106
Some additional snags I hit if these look familiar please let me know.

Curious if someone could let me know if we need additional tags or a specific name for the cloudformation created controller SG the docs list as a prerequisite (link noted at top initial post).

I think I've created the requisite SG, but the pod cannot find it:
[code]

excerpt from awless showing security group created from th

[2017-12-06 22:03] szuecs commented on #106
@cmcconnell1 this sounds totally valid. I tried to extract from our current config the relevant parts, I hope this helps:

        "IngressControllerIAMRole": {
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Action": [
                                "sts:AssumeRole"

[2017-12-06 22:06] szuecs commented on #106
In order to update to v0.4.0, you have to add the following tags to your AWS Loadbalancer
SecurityGroup before updating:
- `kubernetes:application=kube-ingress-aws-controller`
- `kubernetes.io/cluster/<cluster-id>=owned`

[2017-12-06 23:15] cmcconnell1 commented on #106
Hi @szuecs the SG that I created does have those as well as others, here's the complete list of Key/Values for the CF created SG:
[code]
Does that look correct?
Thanks

[2017-12-06 23:20] mikkeloscar commented on #106
@cmcconnell1 make sure you also have this tag `kubernetes.io/cluster/opsdev=owned` on the node where the ingress-controller is running. This is how it discovers the clusterID before looking up the SG.

We also support the old tag `KubernetesCluster=<clusterid>` which is for instances in place for clusters deployed via kops.

[2017-12-06 23:26] cmcconnell1 commented on #106
OK, thanks @mikkeloscar great catch!

on the worker nodes from that test cluster I currently have
[code]
So the tag value is set to "true" and not "owned"
I think that value gets set by kube-aws, but will need to track down.  Will do some more digging on this.

Thanks!

[2017-12-06 23:49] cmcconnell1 commented on #106
Excellent, so instead of changing the above mentioned tag (kubernetes.io/cluster/$cluster_id), as @mikkeloscar noted above, using the now legacy tag/values:
[code]
did the trick!

[code]

Thanks!

[2017-12-07 00:00] cmcconnell1 commented on #106
In case this is useful for docs or others coming here, below are the steps I used based on the (modified as needed) files from your repo and using the above noted AWS IAM policy file:
[code]

List your newly created IAM Policy and get its ARN
[code]

Attach the policy to your cluster workers role using the generated AWS ARN in above step
[code]

Validate and list roles attached policies for our cl

[2017-12-07 00:38] mumoshu commented on #105
@szuecs Thanks for the response!
I've tried with the `latest` tag almost a day ago.

[2017-12-07 15:38] szuecs commented on #106
@cmcconnell1 would you like to create a doc PR for it?
It would be awesome to get this into the docs to make it better.

[2017-12-07 15:39] szuecs commented on #106
@cmcconnell1 would you like to create a doc PR for it?
It would be awesome to get this into the docs to make it better.

[2017-12-07 19:10] cmcconnell1 commented on #106
I would like to do that.

Would it be better to do a separate PR for the above requisite steps to deploy the kube-ingress-aws-controller as an addon (for other installed methods (kube-aws, etc.) and for existing clusters):

- create the AWS IAM policies and apply to kube worker role(s)
- create AWS CF SG
- perform the requisite kube node tagging, etc.

so that the alb-ingress can run (and then per

[2017-12-07 22:29] szuecs commented on #106
@cmcconnell1 #107 fixes the skipper daemonset yaml. I stripped too much and removed the POD spec key.
For your suggestions regarding kube-aws and other cluster creations, if you know one of them you could just add a section for this one, such that there is a nice starting point. Contribute as much docs as you like, but it also does not have to be too much work for you. ;)
The deploy steps make tot

[2017-12-07 23:24] mikkeloscar commented on #105
Looking [here](https://aws.amazon.com/about-aws/whats-new/2017/11/spot-fleet-can-now-auto-attach-instances-to-your-load-balancers-and-scale-down-to-0-target-capacity/) and [here](https://aws.amazon.com/blogs/aws/new-auto-scaling-for-ec2-spot-fleets/) and [here](http://docs.aws.amazon.com/cli/latest/reference/ec2/request-spot-fleet.html). It looks to me that SpotFleet behaves reverse of ASGs in the

[2017-12-08 02:20] cmcconnell1 commented on #102
Hello, 'apologies if this is the wrong place, but hitting a snag here and I don't see any mention of subnet (or how to configure for specific subnets) in the main project readme.   For this cluster, I have two worker node pools each in a different AZ.

Just want to validate the solution is:  tag the subnets as specified above by @szuecs  ?

Details:
Seem to be stuck in a loop with the following er

[2017-12-08 05:46] szuecs commented on #102
@cmcconnell1 Yes tag the subnets you want to have the LoadBalancer network interfaces created in.

In general is better to open an issue and reference this PR, because I only see the notification e-mail and if I would miss it then I would not see your comment and it would be lost.

[2017-12-08 05:50] szuecs opened #108 "stop delete create loop caused by 2 subnets"
If an ALB can not be created, because 2 possible subnets could be attached to the ALB, the comment
https://github.com/zalando-incubator/kube-ingress-aws-controller/issues/102#issuecomment-350153375 shows that we get into delete create loop.

Desired behaviour: log error, delete and stop to create the ALB.

[2017-12-08 11:35] seivan opened #109 "Why is skipper necessary?"
I don't understand why Skipper or any other form of internal load balancer Nginx would be necessary for this to work?  Shouldn't `ALB` be sufficient on its own? What am I missing?

[2017-12-08 15:14] szuecs commented on #109
ALB has the limitation of number of routes to 50 and has no path routing.

Skipper is just a suggestion, what we know works at scale and we are using in production since 1y in kubernetes and outside more than 2y.
Nginx has a lot of drawbacks if you have rapidly changing endpoints and it's not made for this.

Skipper is pretty simple to setup, no configmap for example and we only have 3 poewerful a

[2017-12-08 15:15] seivan commented on #109
Yeah it makes sense. But I am curios over if I can use this without Skipper?
I am not interested in path routing and won't have more than 10 nodes. What I do need is Websocket support which existing ELB (Classical) doesn't do well.

Thanks for allowing me to use the issues to ask a question. I appreciate it.

[2017-12-08 15:30] szuecs commented on #109
You can also pipe websockets through skipper. It called --experimental-upgrade (or similar top of my head ;) ) flag to enable it. We use it also in production so experimental part is more than 1 year ago.
I understand thyt you want ot have a minimal setup and I bet you can do this if you use hostNetwork=true in your deployment and point the Target group to that port. Skipper is also deployed like

[2017-12-08 15:32] seivan commented on #109
I thought `hostNetwork` was deprecated or to be avoided in general?
I don't think I quite understood. Is it not possible (as of today, out of the box) to use this without Skipper?

Just pointing the load balancers to my app service (that has 4 pods through a DaemonSet)?

[2017-12-08 15:56] szuecs commented on #109
You don't need a daemonset, but the port listening on the EC2 node network has to be in the targetgroup of the ALB.
You can use a service mentioned in
https://kubernetes.io/docs/concepts/configuration/overview/#services

[2017-12-08 16:47] seivan commented on #109
You don't happen to have an example of this? It sounds like it has not been tested?

[2017-12-08 17:04] cmcconnell1 commented on #108
My bad, I should have opened an issue for this.  Thanks @szuecs

[2017-12-09 05:49] szuecs commented on #109
skipper production configuration we use: https://github.com/zalando-incubator/kubernetes-on-aws/blob/dev/cluster/manifests/skipper/daemonset.yaml
ingress controller that creates ALBs: https://github.com/zalando-incubator/kubernetes-on-aws/blob/dev/cluster/manifests/ingress-controller/deployment.yaml

This setup runs in production since 1 year. Of course you can do it differently if you like.

[2017-12-20 19:41] seancurran157 opened #112 "failure deploying skipper.yaml"
Hello,

I'm trying to follow the instructions to deploy skipper and I'm getting an error on the first step,

`kubectl create -f deploy/skipper.yaml`

I get the following error,
[code]

Is anyone running into this issue?
[code]

[2017-12-20 20:23] seancurran157 commented on #112
looks like its missing a label on the DaemonSet section, could someone validate the below?

incorrect
[code]

should be

[code]

[2017-12-21 09:28] szuecs commented on #112
@seancurran157 Good point I missed one label entry to change:

    apiVersion: extensions/v1beta1
    kind: DaemonSet
    metadata:
      name: skipper-ingress
      namespace: kube-system
      labels:
        component: ingress
    spec:
      selector:
        matchLabels:
          application: skipper-ingress   # <--- should be "component: ingress"
      updateStrategy:
        type: RollingU

[2017-12-21 10:13] #112 closed

[2017-12-21 10:14] szuecs commented on #112
@seancurran157 can you check if the current version works for you and reopen if not?
Thanks!

[2017-12-21 13:52] seancurran157 commented on #112
works, thanks!

[2017-12-21 20:39] grifonas opened #114 "Internal and Internet-Facing Aws-Load-Balancer-Scheme Cannot Coexist"
I just experienced an issue where the Ingress Controller doesn't create an internal/internet-facing ALB stack when the other type already exists.

**How to Reproduce**:
1. Create an ingress with the internet-facing ingress with "zalando.org/aws-load-balancer-scheme: internal" annotation.
2. Create another ingress for the same domain (not the same host) but with "zalando.org/aws-load-balancer-schem

[2017-12-21 21:30] grifonas commented on #114
Just tried out the "v0.4.2" tag with the same result.

[2017-12-21 21:39] mikkeloscar commented on #114
@grifonas Thanks for reporting!

I also noticed this issue while working on #111. It will be fixed by #111 but there's still a lot of other stuff to do in that PR, so we should probably fix it separately rather than waiting for that to be done.

[2017-12-21 21:41] grifonas commented on #114
That would be amazing. Thank you!

[2017-12-24 13:36] grifonas commented on #114
I can confirm that this is fixed in the image
```registry.opensource.zalan.do/teapot/kube-ingress-aws-controller-test:pr-115-3```

[2017-12-24 15:14] grifonas opened #116 "Use Custom Tag for Discovery"
Hi All,

The Ingress Controller is currently using the ```aws:autoscaling:groupName``` tag.

In our setup, however, some of the nodes are managed by a custom system rather than an autoscaling group.

Which leads me to the following questions:
1. Is it possible to customise the tag the Ingress Controller uses for discovery?

When trying to run the controller on a node not created by an AS group we'

[2017-12-27 14:15] szuecs commented on #114
@grifonas thanks for filing the issue and testing!
@mikkeloscar always great to see your PRs!

[2017-12-27 14:16] szuecs commented on #109
I will close this, please reopen if something is unclear or we can do better to fix your issue

[2017-12-27 14:16] #109 closed

[2017-12-27 14:24] szuecs commented on #116
Hi! Thanks for describing this issue.

1. Not right now, but this is a doable enhancement we should tackle as sooner as better.
As you have written we use `aws:autoscaling:groupName` to identify the nodes for the targetGroup of the ALBs created by this ingress controller

2. This will not provide the value you assume I think. I think in general we should use a custom Tag to identify the target nod

[2017-12-27 16:19] mikkeloscar commented on #116
To add to what @szuecs already said so far we have assumed that all the instances attached to the ALB is in an autoscaling group because it makes it very simple for the controller. We can have AWS attach/dettach instances from the ALB automatically without worrying about this logic in the controller.

For your use case, and for the use case of using spot instances/fleets (#105) we will probably ne

[2017-12-31 08:21] grifonas commented on #116
Hi @szuecs  and @mikkeloscar!
Thanks very much for your responses.
What you both said makes perfect sense.

I suppose one could simply replace the value for the "autoScalingGroupNameTag" variable in ec2.go with the value taken from an environment variable that could in turn be provided in the controller manifest, couldn't one? It can fall back to "aws:autoscaling:groupName" if nothing's provided.

[2017-12-31 12:23] szuecs commented on #116
@grifonas yes that we can easily do as "workaround" without harm. We should pass it through the adapter manifest and set a package variable. The current autoScalingGroupNameTag can be used as default if an empty value is set. Doyou like to contribute this change @grifonas or should we do it as soon as we have time?

@mikkeloscar any thoughts on that?

[2018-01-01 10:10] mikkeloscar commented on #116
The problem is just that making the tag name custom wont do anything as the current implementation needs an ASG name in order to create the Target group. So we need to implement custom logic for attaching/detaching individual instances to an ALB/target group as well.

I'm not saying we shouldn't do it, just pointing out it's a bit more effort.

Also regarding the tag name maybe we should consider

[2018-01-02 09:01] #114 closed

[2018-01-03 09:25] #108 closed

[2018-01-26 21:58] stevelacy opened #120 "Getting 503 from ALB with example config"
I have a cluster on aws that I am attempting to setup with an ALB.

I setup the cluster as described with: https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/deploy/kops.md
I then constructed the example: https://github.com/zalando-incubator/kube-ingress-aws-controller/tree/master/example

The ALB is correctly setup, it also works when I add a SSL ARN, and I am also using

[2018-01-27 14:28] szuecs commented on #120
@stevelacy The ALB does not know any POD network (it's not the same as AWS network in most cases), so this will only work if you have on your kubernetes worker nodes another layer of http proxies that implement ingress.
For that you can use github.com/zalando/skipper as described in the example.
If you did then you should have a look with "curl -v" which proxy returns the 503 and check if the serv

[2018-01-29 23:13] stevelacy commented on #120
I recreated the cluster on GCP, if I end up solving this issue I'll report back

[2018-01-29 23:13] #120 closed

[2018-01-31 09:21] mumoshu commented on #22
@hjacobs @jalonsoa Just get to see this issue. Can we close this as per #104 now?

[2018-01-31 09:36] mikkeloscar commented on #22
@mumoshu yes, this is solved as per #104 and #115. Thanks for pointing it out :)

[2018-01-31 09:36] #22 closed

[2018-02-06 17:49] sdevang opened #121 "ALB Target group created without any EC2 targets"
Hi,

I have deployed ingress controller and it can discover the SG, EC2 Instances and Auto Scaling Group and it creates the ALB when there is a new ingress... however the ALB created by Ingress does not have any EC2 instances registered as targets.

Any idea ?

Regards,
Dev

[2018-02-06 18:46] mikkeloscar commented on #121
What version of the controller are you running?

Can you post the logs from it?

[2018-02-06 19:46] szuecs commented on #121
@sdevang please check if the controller has the rights to attach/detach ec2 instances to the elastic loadbalancer target group. https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/deploy/requirements.md shows the list of access rights that it needs.

[2018-02-07 09:54] sdevang commented on #121
@mikkeloscar : here comes the logs.

2018/02/06 16:12:09 starting /bin/kube-ingress-aws-controller
2018/02/06 16:12:11 controller manifest:
2018/02/06 16:12:11 	kubernetes API server:
2018/02/06 16:12:11 	Cluster ID: xxxxxxx
2018/02/06 16:12:11 	vpc id: vpc-xxxxxxx
2018/02/06 16:12:11 	instance id: i-xxxxxxxxxxxx
2018/02/06 16:12:11 	security group id: sg-xxxxxxx
2018/02/06 16:12:11 	internal subn

[2018-02-07 09:56] sdevang commented on #121
@szuecs : I followed the requirements as mentioned in the requirements.md file and all the worker node have IAM Role which has an IAM policy which allows them to detach and attach instances.

[2018-02-07 09:58] sdevang commented on #121
<img width="1207" alt="screen shot 2018-02-07 at 09 57 43" src="https://user-images.githubusercontent.com/11915431/35910081-692435fa-0bed-11e8-99fc-918370a6e591.png">

[2018-02-07 10:12] sdevang opened #122 "ALB Created by Ingress but Ingress not updated with ALB Hostname"
Hi,

I am facing an issue where ALB is created by Ingress but the Ingress is not updated with ALB's hostname.

I see following in logs.

[code]

But then i do,

[code]

Any idea ?

I thought the LoadBalancer section under status would be updated with ALB's hostname once the ALB is online. Is my understanding wrong ?

Regards,
Dev

[2018-02-07 10:18] szuecs commented on #121
@sdevang can you show us the CF stack events, please?
I think there we should be able to spot the problem.

[2018-02-07 10:21] mikkeloscar commented on #122
No, your understanding is not wrong, it should add the hostname.

Where does the `<IP>` in the status section come from in your example? Do you have some other ingress controller running that could be overwriting the status field?

[2018-02-07 10:33] sdevang commented on #122
@mikkeloscar : Here is my ingress definition file.

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: gitlab
  namespace: default
#  annotations:
#    alb.ingress.kubernetes.io/scheme: internet-facing
#    alb.ingress.kubernetes.io/certificate-arn: "arn:aws:acm:eu-west-1:935783063905:certificate/44d47605-057e-44d0-83d0-3d3c95ac8c98"
#    alb.ingress.kubernetes.io/backend-protocol: HTT

[2018-02-07 10:36] sdevang commented on #122
@mikkeloscar : I do not have any other ingress controller running.

[code]

[2018-02-07 10:46] sdevang commented on #121
@szuecs : Here you go.

[code]

[2018-02-07 11:23] mikkeloscar commented on #122
Hmm, what about permissions to the API server. I would expect us to log if it fails to update the ingress resource, but maybe this is the problem? Any chance you have RBAC enabled in your cluster and the ingress-controller can't write to the Kubernetes API?

[2018-02-07 11:27] szuecs commented on #121
@sdevang as you do not use the multiple ASG or EC2 node feature, can you use the latest version from 0.4.x, please?
0.5.x was not really tested yet from us.

[2018-02-07 11:57] sdevang commented on #122
@mikkeloscar : We do not have RBAC enabled in our K8 Cluster.

[2018-02-07 15:37] szuecs commented on #122
@sdevang it has to be another ingress controller which is overriding the status field in the ingress object.
As you showed in the logs of the kube-ingress-aws-controller it found the name "xxxxxxx-lb-1hrxddetdnqk4-xxxxxxxx.eu-west-1.elb.amazonaws.com", which it will write to the status field. This controller will not do any DNS lookup nor do a call the route53.

    2018/02/07 10:11:36 updated ing

[2018-02-13 12:51] itselavia opened #124 "Problem launching ingress controller in a kops cluster"
Facing issues with following two commands in the steps mentioned for kops cluster:

1. aws ec2 authorize-security-group-ingress --group-id $sgidnode --protocol all --port -1 --source-group $sgidingress
Error: An error occurred (InvalidGroup.NotFound) when calling the AuthorizeSecurityGroupIngress operation: You have specified two resources that belong to different networks.

2. aws ec2 create-tags

[2018-02-14 15:27] szuecs commented on #124
Can you show the values of your shell variables. You can do this if you follow again the kops.md guide and do, after these errors:

    $ echo aws ec2 authorize-security-group-ingress --group-id $sgidnode --protocol all --port -1 --source-group $sgidingress

and:

    $ echo aws ec2 create-tags --resources $sgidingress --tags "kubernetes.io/cluster/id=owned" "kubernetes:application=kube-ingress-aw

[2018-02-15 10:48] itselavia commented on #124
Hi @szuecs, thank you for your response. I resolved both my problems.

1. By default, the security groups created by the 'aws ec2 create-security-group' command were getting created in the default VPC. Whereas the security groups created by kops during cluster creation were in a separate VPC. So while creating the security groups, I added the vpc id as follows:

aws ec2 create-security-group --des

[2018-02-15 10:49] #124 closed

[2018-02-18 08:04] mikkeloscar commented on #105
With #118 this should now be supported if you tag the spot fleet instances with the right tags (see readme).

[2018-02-19 16:17] #94 closed

[2018-02-20 11:01] mikkeloscar opened #126 "Cleanup old TG in ASGs"
Sometimes we see ASGs failing to launch instances because it has Target Groups defined which no longer exists.

![asg_fail_launch](https://user-images.githubusercontent.com/128566/36420537-b96be60a-1635-11e8-9c39-2e7bafe8aada.png)

We should make sure the controller always cleans up after itself.

[2018-02-21 13:52] #126 closed

[2018-02-22 17:30] mikkeloscar opened #129 "Allow opt out of SNI ALB"
#111 added support for aggregating ingresses with different Certificates under a single ALB using SNI.

Some clients might not support SNI and thus we should support opting out of an SNI ALB and create an a single ALB per certificate like before.

I suggest we do this with an annotation on the ingress object.

Something like:

[code]

https://en.wikipedia.org/wiki/Server_Name_Indication

[2018-02-22 18:01] szuecs commented on #129
It might makes sense to opt-out globally per flag, too

[2018-02-22 19:08] bdeak opened #130 "Ingress Controller failed Scheduling due to NodeNetworkUnavailable"
Hi,

I've deployed the ingress controller pod, but it's stuck in the Pending state, describe shows the following:

[code]

I'm using calico as CNI, and is working as expected.
[code]

[code]

I've installed kubernetes using Puppet.
Any idea what might be missing?

Thanks!

[2018-02-22 20:19] bdeak commented on #130
I think this is unrelated from the ingress controller, I'll keep looking.

[2018-02-22 20:31] bdeak commented on #130
Closing, this was caused by https://github.com/kubernetes/kubernetes/issues/44254

[2018-02-22 20:31] #130 closed

[2018-02-23 18:35] #129 closed

[2018-02-28 21:34] etsangsplk opened #135 "[Question] If stack is deleted not through controller (e.g. via AWs console)"
How does the controller knows that and notify insterested parties?

[2018-02-28 22:18] mikkeloscar commented on #135
It does a poll every 30 seconds and will see that a stack with requested certificates are missing and create a new one.

[2018-03-06 19:36] #135 closed

[2018-03-06 19:37] mikkeloscar commented on #116
This was done in #118

[2018-03-06 19:37] #116 closed

[2018-03-07 23:13] johnwards opened #137 "Shit has hit the fan: panic caused by: runtime error: invalid memory address or nil pointer dereference"
Not sure what to do with this error other than post the stacktrace in the hope it makes sense to someone, I'm assuming I've done something wrong.. I'm using tectonic 1.8 latest btw.

[code]

[2018-03-08 08:31] szuecs commented on #137
@johnwards thanks for creating the issue.  If this happens, it's always a bug in this software.

[2018-03-08 12:48] johnwards commented on #137
@szuecs I'm using latest on everything, I basically copy and pasted the quick start on the read me last night and changed my region to eu-west-1.

eg https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/deploy/ingress-controller.yaml and https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/deploy/skipper.yaml

I had to add tag-keys to my worker nodes

[2018-03-08 13:44] szuecs commented on #137
@johnwards for skipper please use v0.9.152, I am currently on it to fix an issue we have there. I informed users in our googlegroup https://groups.google.com/forum/?pli=1#!topic/skipper-router/MOK9xBjs0OE

[2018-03-08 14:10] szuecs commented on #137
I could reproduce your error.

[2018-03-08 14:30] szuecs opened #139 "fix 400er while stack is in update and has no targetgroup"
Logs showing these error messages, but it's not really an error. This will print these errors while creating the CF stack to create the ALB, but the targetgroup is not there yet.

    2018/03/08 14:26:16 UpdateTargetGroupsAndAutoScalingGroups() failed to attach target groups to ASG: ValidationError: 1 validation error detected: Value '[]' at 'targetGroupARNs' failed to satisfy constraint: Member m

[2018-03-08 14:44] #137 closed

[2018-03-08 14:52] szuecs commented on #137
@johnwards please update to v0.6.5.

[2018-03-08 15:20] #139 closed

[2018-03-08 22:46] johnwards commented on #137
@szuecs Thanks, that's fixed it.

[2018-03-10 13:35] szuecs commented on #137
@johnwards we fixed the problem in skipper, you can use the latest released version.
We will roll out the new skipper version to production next week.

[2018-03-13 11:59] oliver-whiteman commented on #121
Did you manage to make much headway with this?

I also have a target group that is created as empty and not certain why

[2018-03-13 12:25] mikkeloscar commented on #121
@oliver-whiteman Are you running the latest version of the controller? Can you post the logs?

[2018-03-13 12:56] oliver-whiteman commented on #121
I am running this: registry.opensource.zalan.do/teapot/kube-ingress-aws-controller:latest
so I think so

What logs are you after?

[2018-03-13 13:04] mikkeloscar commented on #121
@oliver-whiteman the logs of the kube-ingress-aws-controller. I assume the problem is related to the controller not finding any instances for the cluster, but the logs would help understand what is going on.

And you are using the latest version like that.

Thanks!

[2018-03-13 13:08] oliver-whiteman commented on #121
Yes I would say so:

2018/03/13 13:07:23 Found 2 ingresses
2018/03/13 13:07:23 Found 1 stacks
2018/03/13 13:07:23 Found 0 auto scaling groups
2018/03/13 13:07:23 Found 0 single instances
2018/03/13 13:07:23 Found 0 EC2 instances
2018/03/13 13:07:23 Have 1 models

[2018-03-13 13:20] mikkeloscar commented on #121
Then you probably have the wrong tags on your instances. The needed tags are described here: https://github.com/zalando-incubator/kube-ingress-aws-controller#how-it-works

[2018-03-13 13:36] oliver-whiteman commented on #121
Ah ok, I added this to the existing cluster but doesnt look like it did the update

Have added it in manually now and seems better. May try to recreate the cluster to see if it works that way without intervention

Thanks!

[2018-03-22 12:11] mikkeloscar opened #142 "Find certificates for all hostnames"
Since we added SNI support it would now be possible to find certificates matching all host names defined in an ingress resource and attach them to the ALB instead of being limited to a single certificate possibly only matching one of the host names.

To implement this we just need to change this to return a list of certificates and add all of them to the ALB stack: https://github.com/zalando-incub

[2018-03-22 19:38] hjacobs commented on #142
Yes, I want! :smile:

[2018-03-30 11:14] orangain opened #144 "Unable to create stack when cluster ID starts with a number"
When a cluster ID starts with a number, a stack is not created after deploying kube-aws-ingress-controller. I see the following log (modified partially):

[code]

My cluster ID is something like: `123456-cluster.kubernetes.example.com`. I think that a name starting with a number is valid as a domain name and a cluster ID, but it is invalid as a stack name of CloudFormation.

Adding fixed prefix du

[2018-03-31 14:26] mikkeloscar commented on #144
Thanks for reporting this! I think we should just prefix the stack name with a valid character in case the cluster ID starts with a number.

[2018-04-05 13:07] szuecs commented on #121
I close this issue, because for me it seems not to be the issue of this project.
Maybe better to have a separate documentation issue.

[2018-04-05 13:07] #121 closed

[2018-04-05 18:04] HerrmannHinz opened #146 "Unable to create stack when cluster name starts with "internal.""
the cluster i'm creating is called something like:
`internal.cluster.tld.com`

and the ingress annotation is set to create an internal loadbalancer:

[code]

i found the following error message in the cloud-formation events:

[code]

seems like this case could be also covered during the normalization? (see: https://github.com/zalando-incubator/kube-ingress-aws-controller/issues/144)

thanks :)

[2018-04-06 21:09] hjacobs commented on #146
#145 should fix this :smile:

[2018-04-07 06:24] mikkeloscar commented on #146
@HerrmannHinz can you help verify that #145 solves this issue for you? :)

This is the docker image built from the pr:

[code]

[2018-04-08 20:34] HerrmannHinz commented on #146
LGTM

just tested. works fine. created internal and external loadbalancers at my `internal.*` cluster.
please merge n release 🥇

thanks for the quick fix.

[2018-04-09 07:40] #144 closed

[2018-04-09 10:00] szuecs commented on #146
https://github.com/zalando-incubator/kube-ingress-aws-controller/releases/tag/v0.6.7

[2018-04-09 10:00] #146 closed

[2018-04-11 17:08] ryohang opened #147 "issues with generating cloudformation"
Hello Dear,

I was reading through the documentation https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/cloudformation.md. I am trying to figure out how one can generate cloudformation template from Go. Is there any specific documentation or steps?

[2018-04-11 17:12] hjacobs commented on #147
Can you elaborate on what you want to do? Do you have problems with running `kube-ingress-aws-controller` or are you trying to generate CF from Go in general.

[2018-04-11 17:17] ryohang commented on #147
Sure Jacob, thanks for the quick response. I am having issue of (creating)associating the ALB to ingress controller by following two Read me. https://github.com/zalando-incubator/kube-ingress-aws-controller/tree/master/deploy and https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/deploy/test-deployment.md (Base feature)

I tried a few hours yesterday and tonight. I can on

[2018-04-11 17:19] hjacobs commented on #147
Can you check the status of Cloud Formation stacks in the AWS Console?

[2018-04-11 17:25] ryohang commented on #147
I don't see any cloudformation having been launched there. What could go wrong? Is ingress controller suppose to launch cloudformation template?

[2018-04-11 17:45] szuecs opened #148 "cleanup cloudformation doc"
https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/cloudformation.md
refers to https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/aws/ingress-cf-template.yaml, which we do not use anymore.

[2018-04-11 17:52] szuecs commented on #147
@ryohang Could you post log output of the controller, please?
I guess we miss something in our documentation that lead to, that the controller can not find the right data in your deployment, such that it does not create the cloudformation stack.

[2018-04-12 20:15] szuecs opened #149 "Removing zalando.org/aws-load-balancer-ssl-cert-domain annotation"
@mikkeloscar and I agree on that the annotation `zalando.org/aws-load-balancer-ssl-cert-domain` might not be a feature anymore.
We want to ask the community if you agree or disagree and if you disagree explain why. See [this comment](https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/143#issuecomment-380913956) for why it's not needed anymore.

[2018-04-17 09:45] lambertpan opened #150 "Takes ~20 minutes time to get response from newly created ingress..."
I tried kube-ingress-aws-controller. After I completed my cluster setup and everything, it almost took 20 minutes time to get response from ‘kubetest.mydomain.com’. What could be the reason? I deleted and created the ingress controller, I got the response immediately.

The delay response behavior is same for newly created cluster.

[2018-04-17 09:52] lambertpan opened #151 "IAM Role for autoscaling group"
I followed the steps as mentioned at https://github.com/kubernetes/kops/tree/master/addons/kube-ingress-aws-controller, but I got an error “UpdateTargetGroupsAndAutoScalingGroups() failed to attach target groups to ASG: AccessDenied: User: arn:aws......is not authorized to perform”.

I adjusted the IAM to “autoscaling:*”, then it worked.

[2018-04-17 09:54] mikkeloscar commented on #150
* How do you create the DNS entry?
* Could you check how long it takes going directly to the hostname of the ALB? Then we know if it's in this controller or somewhere else.

Thanks!

[2018-04-17 10:15] szuecs commented on #151
thanks for reporting back this issue!

[2018-04-17 10:24] szuecs commented on #151
I opened a PR at https://github.com/kubernetes/kops/pull/5014

[2018-04-17 10:41] lambertpan commented on #150
-  I have a domain name in route53. Once the ingress is set, I manually create the record and select ELB load balancer which is created by 'kube-ingress-aws-controller'.
- I am able to ping the services from nodes. [Or] I could reach them from kubectl proxy

[2018-04-17 13:35] lambertpan commented on #150
Apologize, it looks like I made a mistake in security configuration. I added an extra rule
aws ec2 authorize-security-group-ingress --group-id $sgidingress --protocol all --port -1 --source-group $sgidnode - along with the other required rules.
After correcting this, it is starting with no time. I will check this again tomorrow.
Thanks for your support.

[2018-04-17 16:08] oliver-whiteman opened #152 "Permissions issue Kubernetes 1.9+"
Had everything working fine on Kubernetes 1.8 but now on 1.9 and I think I am hitting a permissions issue but not sure where. All skipper-ingress logs are showing:

[APP]time="2018-04-17T16:06:55Z" level=error msg="convertPathRule: Failed to get service default, server, 8026"
[APP]time="2018-04-17T16:06:55Z" level=error msg="failed to load all: error while getting service: request failed, status:

[2018-04-17 16:25] volkertb commented on #152
As coincidence would have it, I ran into the same issue just now. Running with a Kubernetes 1.9.3 cluster installed through kops. In addition to skipper-ingress, the kube-ingress-aws-controller pod also failed to start with the error "unable to find instance "xxxxxxxxxx": no reservations or instances in the running state". Is that as a result of the errors in the skipper-ingress pods? Are you gett

[2018-04-17 16:27] oliver-whiteman commented on #152
I'm running 1.9.3 on kops as well for reference

I was getting some issues on the kube-ingress-aws-controller around permissions for ingresses but the error messages meant I was able to create the correct clusterroles to fix it. With skipper-ingress I dont have enough info

Not seen the error you have there

[2018-04-17 16:32] volkertb commented on #152
Thanks for checking. I found some potentially related information here: https://groups.google.com/forum/#!topic/skipper-router/v5ABRuXwDE4

[2018-04-17 16:57] oliver-whiteman commented on #152
OK, managed to get it working by checking the api logs for the permissions required
For some reason the kube-system:default user didnt have permissions to get/list services, most be very locked down in new setup
Worth checking the logs for kube-apiserver for more info

[2018-04-17 16:57] #152 closed

[2018-04-17 17:24] volkertb opened #153 "Please document additional required permissions for kube-system:default user in Kubernetes 1.9+"
Now that @oliver-whiteman found the cause of the problem occurring with skipper-ingress and described the solution in issue #152, it might be prudent to document those extra required steps for newer Kubernetes versions in the README.md file.

[2018-04-17 18:12] volkertb commented on #153
As @oliver-whiteman mentioned in the other issue, the cause can be found in the the logs of kube-apiserver:

    kubectl -n kube-system get pods | grep apiserver
    kubectl -n kube-system logs <podname>

In the resulting log output, the following line is of interest here:

    RBAC DENY: user "system:serviceaccount:kube-system:default" groups ["system:serviceaccounts" "system:serviceaccounts:kube

[2018-04-17 18:43] volkertb commented on #153
@oliver-whiteman, could you please share what kubectl commands you ended up using to get it to work? I tried the commands below, but those didn't work. 😞

    # Based on info found at https://kubernetes.io/docs/admin/authorization/rbac/#service-account-permissions
    kubectl create rolebinding default-view --clusterrole=view --serviceaccount=kube-system:default --namespace=kube-system

    # Some

[2018-04-17 18:44] mikkeloscar commented on #92
@szuecs is this still relevant after #143 ?

[2018-04-17 19:12] volkertb commented on #153
Alas, I've been puzzling and trying things, but to no avail so far. I also tried adapting a fix by @flytreeleft for a seemingly similar problem that he shared here: https://github.com/fabric8io/fabric8/issues/6840#issuecomment-307560275

However, I couldn't get it to work either.

Below is the latest that I have tried. Perhaps someone else could take a stab at it. I'm calling it a night for now. 😉

[2018-04-17 19:37] mikkeloscar commented on #153
@volkertb thanks for the effort :) I think it would be good to create a separate service account for the deployment instead of using `kube-system:default`.

I think the reason your example doesn't work is because you are using a `RoleBinding` instead of a `ClusterRoleBinding` :)

[2018-04-17 19:41] oliver-whiteman commented on #153
I created two cluster roles with basic functionality of what I could see was missing:

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ingress
rules:
- apiGroups:
  - extensions
  resources:
  - ingresses
  - ingresses/status
  verbs:
  - get
  - list
  - patch

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: skipper
rules:
- apiGroups

[2018-04-17 21:43] volkertb commented on #153
Thanks! 😃 I left work for the evening, but I'll try it tomorrow.

[2018-04-17 21:46] volkertb commented on #153
@mikkeloscar No problem! Getting this work is in our interest as well. I think I already tried changing RoleBinding to ClusterRoleBinding, but then kubectl responded with an error. I'll check it again tomorrow.

[2018-04-18 07:28] volkertb commented on #153
@mikkeloscar, the reason why I was getting the error when changing RoleBinding to ClusterRoleBinding in the yaml I shared was that "subjects:" required a namespace entry. After I added it, the yaml was applied successfully, but ultimitely it still didn't solve the RBAC DENY errors. I'm going to try @oliver-whiteman's example now.

[2018-04-18 07:42] volkertb commented on #153
Yes! @mikkeloscar's fix worked! I consolidated his "kubectl create clusterrolebinding" commands into a single yaml. This is the one that solved the RBAC DENY errors with skipper for me (assuming the yaml to be saved as oliver-whiteman-skipper-fix.yaml):

[code]
To apply this fix/change:
    kubectl apply -f oliver-whiteman-skipper-fix.yaml
To undo this fix/change:
    kubectl delete -f oliver-whit

[2018-04-18 11:07] lambertpan commented on #150
I am sorry, again, today I am getting this issue. I am not sure it is because of security group (my previous ans is not valid).
@szuecs Answer to your question, I get the ALB in ingress status. So, do you mean it is question for route53?
Also, I need some clarification for my debugging - the external dns myname.mydomain->alias to ALB; from which or where the 'aws-ingress-controller' picks the traf

[2018-04-18 12:56] szuecs commented on #153
@volkertb @oliver-whiteman @mikkeloscar do you think it makes sense to document this skipper RBAC related installation/configuration/deployment issue in the skipper repository and link this from here?

[2018-04-18 12:56] szuecs commented on #92
no

[2018-04-18 12:56] #92 closed

[2018-04-18 13:03] szuecs commented on #150
@lambertpan https://zalando.github.io/skipper/kubernetes/ingress-controller/#aws-deployment is I think the best picture I have to explain the full setup that you should use if you run the kube-ingress-aws-controller + skipper + external-dns stack.

My question was if you do a `kubectl get ing <your-ingres> -o json | jq '.status'` , do you see a value in the `hostname` field?

Example:

    {

[2018-04-18 15:00] volkertb commented on #153
@szuecs As long as there is at least a reference to that section of the skipper documentation from the kube-ingress-aws-controller README, I don't see any issues with that. But please at least refer to it, since people that try to follow the kube-ingress-aws-controller tutorials will run into this issue as well if they are working with newer and/or RBAC-enforced Kubernetes clusters.

[2018-04-18 15:11] baez90 commented on #124
It's already mentioned in the docs but to get the same experience with a single script without the need to lookup the VPC-ID the following snippet might be helpful:

[code]

[2018-04-19 07:46] szuecs commented on #124
Thanks @baez90 , I created a PR for your proposed change in the docs.

[2018-04-19 10:03] baez90 commented on #153
Hey, unfortunately I didn't find this issue yesterday when I tried to deploy the ingress controller with RBAC but I managed to do it anyway.
I think there's a permission missing in the yaml @volkertb posted (at least I had to add more permissions).

I created a [Gist](https://gist.github.com/baez90/795aea4a1e71852b1f7ec86d8f19a602) with all my yaml files including:

* ServiceAccount
* ClusterRole

[2018-04-20 07:32] lambertpan commented on #150
Yes. I can see the value in the hostname field. I figured out, it is due to external dns problem. ingress-controller is working great! thanks for that.

[2018-04-20 07:32] #150 closed

[2018-04-20 15:43] szuecs commented on #151
documented in external repositories as well

[2018-04-20 15:43] #151 closed

[2018-04-26 10:03] szuecs commented on #153
@baez90 because of [1], I would either delete the resource limits for CPU or as pointed out in the comment [2], delete the resource requests. I did not tested [3], yet, but deleting CPU limits works to omit latency problems.

Thanks for your effort, it's really great!
If you like you can also open a PR in [4], see ./docs/kubernetes to document it in [5].
You can also link to your repository.

[1]

[2018-04-26 10:54] baez90 commented on #153
@szuecs deleting the CPU request would be the same as setting request and limit to the same value and would avoid throttling (and omit latency of course) but it would also influence the scheduling behavior because more CPU resources are reserved for the ingress controller. I'd like to keep the CPU request value and just increase it if I'm experiencing latency problems to ensure that K8s doesn't re

[2018-04-26 12:57] szuecs commented on #153
Yes I am fine with RBAC and helm, just do not replace anything from the current docs, then it will provide a lot of value as enhancement.

[2018-04-26 21:47] baez90 commented on #153
I managed to complete the first draft of the chart: [repository link](https://github.com/baez90/kube-ingress-aws-controller-helm).

I haven't tried to deploy it yet but I'll do that hopefully on saturday.

I'd appreciate any input or feedback if someone is brave enough to give it a try.

kube2iam, RBAC and prometheus-operator are opt-in features right now and disabled by default to keep the deploy

[2018-04-27 09:11] szuecs commented on #153
@baez90 I added and changed some flags

[2018-04-28 12:12] baez90 commented on #153
@szuecs thanks!

I tested the chart in my staging environment and it's working like a charm.
I'll try to complete the docs within the next days and will create a PR for your repositories.

There's still one thing I'd like to change in the Helm chart: do you have proper versioning tags for the containers? I'd prefer not to relay on `latest` tags if possible. I couldn't find any references to that?

[2018-04-28 20:24] baez90 commented on #153
* [PR](https://github.com/zalando/skipper/pull/636)
* [Helm chart repo](https://quay.io/application/baez/kube-ingress-aws-controller?tab=description)
* [Helm chart docs](https://github.com/baez90/kube-ingress-aws-controller-helm)

@szuecs I didn't mention the Helm chart in the PR because it felt somehow misplaced at the Skipper docs. As always any feedback appreciated!

[2018-04-29 12:01] szuecs commented on #153
@baez90 thanks! I reviewed your PR and have a couple of comments.

Maybe a link at https://github.com/zalando-incubator/kube-ingress-aws-controller#trying-it-out makes sense?
It could be helpful for people to try out this stack.

[2018-04-30 17:07] shane-containership opened #155 "Is it possible to configure ALB Idle timeout value?"
Is it possible to set the 'Idle timeout' value on ALBs created by the ingress controller? The documentation mentions being able to customize Cloudformation options using the [built-in template](https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/aws/ingress-cf-template.yaml). However, this file no longer exists.

I see that there is an open issue regarding the outdated doc

[2018-04-30 18:05] szuecs commented on #155
@shane-containership right now it's not possible, but if this is a feature request we can build as flag to the ingress controller. :)

Does it makes sense to set this to the same value for all stack or should this be configurable as ingress annotation?
What kind of use case do you have for this feature?

[2018-04-30 19:16] shane-containership commented on #155
Thanks for looking into this!

For our use case, we currently only have a single stack/ALB for each cluster. So a flag passed to the Ingress Controller would be sufficient.

However, I see value in allowing this to be specified as an annotation, at the ingress level. I'm just not sure how that would work for users like us, with a single aggregated ALB. If two separate ingresses had conflicting idl

[2018-05-03 07:14] hjacobs commented on #47
This came up again yesterday when @mikkeloscar and I talked with the AWS EKS team. The [CoreOS ALB Ingress Controller](https://github.com/coreos/alb-ingress-controller) has host/path routing, but we already solved other problems in our controller and it would potentially be easier to add host/path routing here instead of supporting CoreOS' controller which sets us back in some dimensions (e.g. SSL

[2018-05-03 14:25] jhohertz commented on #38
Just ran into this myself. In my case I was attempting to use this + skipper as the main ingress controller, and an instance of ingress-nginx for narrow cases where it was better positioned to handle that traffic.

Took me a while to figure out what was going on, but despite me clearly labelling all my ingress manifests with the annotation kubernetes.io/ingress.class, this component was not respec

[2018-05-03 14:36] szuecs commented on #155
@shane-containership Do you want to test it?
Docker image is available at:

    registry.opensource.zalan.do/teapot/kube-ingress-aws-controller:v0.6.8-2-gee85e54

[2018-05-03 15:53] szuecs commented on #38
@jhohertz I am fine with changing the behaviour. I think 1. can be good enough if it's not specified at all we default to the current behaviour and we document the default behaviour.
I am also fine with changing the default behaviour and document the update path. @mikkeloscar what do you think about these options?

I checked in skipper we use this as default and override by flag `-kubernetes-ingre

[2018-05-03 16:41] shane-containership commented on #155
Thanks. I tried this out, and set the flag to `--idle-connection-timeout=20m1s`. Prior to this update, the timeout value was set to 1200 seconds (20 minutes). This was previously set manually using the AWS CLI. After adding the flag, there was no change to the ALB's timeout value.

Is this only intended to set the initial timeout value when the ALB is created? Or should it update existing ALBs if

[2018-05-03 17:15] jhohertz commented on #38
@szuecs That sounds great, and a little more elegant than my suggestion on line 4 regarding that.

Happy to test any efforts toward this. (And I would offer to create a PR, but just getting started w/ Go here...)

[2018-05-04 05:07] mikkeloscar commented on #38
@szuecs @jhohertz Keeping the default behavior if you don't specify the flag also sounds like the best approach to me.

I don't want to tie it to skipper by default.

[2018-05-04 11:38] hjacobs commented on #38
Who would implement this? Any volunteers?

[2018-05-04 12:15] szuecs commented on #155
@shane-containership It will also do change on update, but you have to trigger an update event. For example create a new ACM certificate that will be picked up by the controller (and maybe an ingress referencing it).

[2018-05-04 14:00] jhohertz commented on #38
I decided to try my hand at this anyways, doesn't look very complicated code-wise, but running into issues w/ build tooling... looking for dependencies in the wrong place. (And my inexperience w/ Go shines...)

I can run glide install w/o error, but run into this running make: ```worker.go:16:2: cannot find package "github.com/aws/aws-sdk-go/aws/awserr" in any of:
	/usr/local/go/src/github.com/aws

[2018-05-04 14:41] szuecs commented on #38
I checked the dependencies and these are specified correctly and I have this github.com/aws/aws-sdk-go/aws/awserr folder in my vendor/ folder of the project.
If you have Go version >1.6, I think it should just work. Glide will download all dependencies to the vendor folder.

Do you have a vendor folder with the packages that could not be found?
Do you have a recent Go version? (I have go1.10)
Do y

[2018-05-04 16:04] szuecs opened #157 "trigger update all old stacks"
Right now there is no easy way to trigger updates for example (https://github.com/zalando-incubator/kube-ingress-aws-controller/issues/155) on global configuration changes.
This would make it easily possible to force an update of all CF stacks with deleting the ingress controller pod and get everything updated.

[2018-05-04 16:28] jhohertz commented on #38
Think I figured out my issue, I have to have the project IN $GOPATH/src/github.com/zalando-incubator/kube-aws-ingress-controller. (I had it my usual folder of checkouts..)

[2018-05-04 16:44] szuecs commented on #38
Yes in go you have a fixed path from your $GOPATH .

[2018-05-04 18:34] jhohertz commented on #38
So I have an initial stab at this pushed up for review/comments (see above). I haven't had a chance yet to build/deploy it in-place in a cluster, but wanted to get it visible for feedback.

[2018-05-05 05:44] mikkeloscar commented on #38
@jhohertz please open a PR, then it's easier to review. Doesn't have to be fully working before you open the PR, it's ok to open it as "Work In Progress" :)

[2018-05-05 05:47] mikkeloscar commented on #157
Alternatively we could add a "version" to the stacks e.g. an incremental counter which is incremented whenever we make changes to the stack configuration. And the controller would only update all stacks with a mismatching version number.

[2018-05-05 05:59] jhohertz commented on #38
PR #158

[2018-05-07 09:28] szuecs commented on #157
Let's do the versioning if it's simple enough to implement.

[2018-05-07 09:30] szuecs opened #159 "refactor: move idle timeout from stack to stack parameter"
https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/156 introduced connection idle timeout settings through a subresource. It would be nice to move it to a stack parameter.

[2018-05-07 09:33] szuecs commented on #147
To clean this up I will close this issue. Please feel free to reopen it.

[2018-05-07 09:33] #147 closed

[2018-05-07 09:34] szuecs commented on #149
Since nobody answered within 25 days, we will do the change as proposed.

[2018-05-07 09:37] szuecs commented on #155
This task was done and a follow up issue #157 was created to trigger update all old stacks using a version field.

[2018-05-07 09:37] #155 closed

[2018-05-07 15:46] jhohertz commented on #38
For anyone interested in this, I have a test build of the container w/ the version in PR #158 available at this image: viafoura/kube-ingress-aws-controller:v0.6.8-5-g6321660

[2018-05-08 00:42] jhohertz commented on #38
Just a note the PR has been merged, and I can confirm the new functionality is working in the mainline :latest container build.

[2018-05-08 07:25] szuecs commented on #38
@jhohertz thanks, so much for your work!

[2018-05-08 07:25] #38 closed

[2018-05-08 12:26] szuecs commented on #155
version was released with v0.6.9

[2018-05-08 12:27] szuecs commented on #38
was released in v0.6.9

[2018-05-08 16:02] jhohertz commented on #38
@szuecs Thanks for your help making this happen!

[2018-05-21 14:16] sstarcher opened #164 "support for AWS WAF"
I would be great to be able to configure a AWS WAF in front of the ALB.

[2018-05-21 16:21] szuecs commented on #164
Hi!
Makes sense to me, but can you please specify what exactly you want to specify and how this should be configured?
I never used it myself.

For example ingress annotation `aws-waf: <name>`
or `aws-waf-regexp: <re2-regexp>`

[2018-05-21 17:25] sstarcher commented on #164
For my use-case `aws-waf: <name>` would be sufficient and a great addition

[2018-05-22 20:27] ese opened #165 "Controller deletes other target groups from autoscaling group"
Controller delete target groups from autoscaling group which are not managed by itself. This avoid have other stuff working with target groups managed by other components.

How to reproduce:
  * Create a target group
  * Add target group to the nodes autoscaling group

What happens:
  * kiac delete the target group from the autoscaling groups

What expect:
  * kiac maintain and don't delete stuff

[2018-05-28 22:33] greenboxal commented on #164
:+1:

@szuecs Something related that still bugs me, how do you guys keep in sync resources that need to be created outside K8S?

I have this problems with security groups, IAM roles (for use with kube2iam), S3 buckets and other resources. Today I create those extra resources with Terraform and "hope" that name defined on Kubernetes annotations are the same.

If WAF support is added we would have t

[2018-05-29 07:40] szuecs commented on #164
@greenboxal it depends, but most of the time the solution is to crash and let kubelet restart your container.
SG are really nasty, because AWS does not send a RST packet, from network point of view I consider this as bug, but most network/firewall engineers I know think this as a security feature to drop silently a packet (security by obscurity in my point of view).
kube2iam specific: use init con

[2018-05-31 07:57] szuecs opened #166 "Add ALB built-in authentication"
https://aws.amazon.com/blogs/aws/built-in-authentication-in-alb/

Based on the all details you can specify we need a couple of more annotations.
For example login path, callback path, clientid, clientsecret, ....
I did not read the doc and we have to check if it's already possible to use it from CF.

[2018-06-01 17:52] jhohertz opened #167 "Tag filtering for subnets is apparently not working right?"
Sorry submitted this before I put a description in...

We are seeing the controller select subnets seemingly at random... where tags do not match the filter, causing cross-contamination between clusters, and in some cases selecting subnets not even tagged for k8s at all.

Just starting to gather details on this now.

[2018-06-01 18:34] hjacobs commented on #167
Thanks for reporting, please let us know more context and details.

[2018-06-02 00:50] jhohertz commented on #167
So I don't have much in the way of debug output that would be useful, as not much is emitted but I get on startup:

`2018/06/01 19:40:49     EC2 filters: tag:kubernetes.io/cluster/k8s.mydomain.net=owned tag-key=k8s.io/role/node`

The cluster tag on the proper subnets matches the log. The role tag confuses me a bit, as I have them tagged with k8s.io/role/elb and k8s.io/role/internal-elb for exterio

[2018-06-03 09:33] szuecs commented on #167
@jhohertz can you post the first 10-15 log lines please?
We had a similar behavior when we started to use dynamic NAT networks created by github.com/szuecs/kube-static-egress-controller

[2018-06-04 12:42] jhohertz commented on #167
Here is what's seen on startup:

[code]

[2018-06-04 13:32] jhohertz commented on #167
So I have been into the code a bit @szuecs, and I think I see what's going on.

I can't see anywhere that the subnets get filtered on tag key `kubernetes.io/cluster/<cluster_name>` while it's doing the lookup. For the case of "using other cluster's subnets", it *is* checking on the role tag key, but the lexical order of the subnet ID is what's resulting in using the other cluster.

For the subnet-

[2018-06-04 13:47] mikkeloscar commented on #167
This looks like a bug to me. We share subnets for our clusters so it was never an issue. But we should have support for limiting the subnets to those with a certain cluster ID if specified.

Note, this filter is about finding nodes:

[code]

So it should not be confused with the logic for finding subnets, although the logic should ideally be similar.

[2018-06-04 13:54] szuecs commented on #167
@mikkeloscar I think we saw this issue already with some users that use NAT subnets.
I agree this is a bug and we should prefer tagged subnets in case we find networks with a tag.
Any reason not to do it like I suggest?

[2018-06-04 14:11] jhohertz commented on #167
Please have a look at PR #169 which corrects the issue for me. Note: I haven't yet wrapped the change with any kind of flag to influence the behaviour.

[2018-06-05 05:10] so0k opened #170 "Allow annotation to define default cert"
Currently, the default cert is decided by picking the first certificate after sorting all matching certificates.

For my set up, I have wildcard certificates of several domains and ingress manifests for all of those domains.

I recently added a naked domain ingress request, and for this particular DNS record I changed the wildcard cert to have a SAN for the naked domain. It seems that there are va

[2018-06-05 05:13] so0k commented on #170
I guess I could use `zalando.org/aws-load-balancer-shared: false` - but currently only one ingress uses that naked domain.. the other domains are using subdomains and seem to work fine

[2018-06-05 06:20] hjacobs commented on #170
I'm not completely sure if I understand the scenario. What do you mean with "default" certificate for the ALB? I tried to find such property in the [ALB Listener Cloud Formation reference](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-listener.html), but could not find it.

[2018-06-05 07:10] mikkeloscar commented on #170
Let's try to understand this first before we add workarounds. Can you give some more information about what your certs look like and what type of validation error you are getting?

We have found bugs with ALB/Certs/Cloudformation which have been confirmed by AWS, so if there is something like this we should understand it and reach out to them.

@hjacobs default cert is the one specified here: http

[2018-06-05 07:40] so0k commented on #170
All my Certs are wildcard issued through ACM:

[code]

Everything was working fine with ingress requests like:

[code]

Yesterday, I added an ingress request for `www` and naked domain for one of the TLDs

[code]

external-dns created 2 alias records for the ALB. Browsing to https://www.qux.com worked, but when browsing to https://qux.com, a certificate error was shown: Server presented certificat

[2018-06-05 15:00] szuecs commented on #170
@s0k0 I agree that this should be addressed and we should also have a workaround here but for me it sounds like an ALB issue. SNI should cover this situation, because it is very common that wildcard certs also have the pure domain in SAN.

[2018-06-05 17:39] #149 closed

[2018-06-06 10:04] so0k commented on #170
I agree SNI should cover this situation, I also looked into https://github.com/zalando-incubator/kube-ingress-aws-controller/issues/149 and realised my issue is different.

For now, my manual change works until something causes controller to re-sync the ALB

[2018-06-06 13:27] szuecs commented on #170
@so0k would you mind looking into the source code and create a change?

[2018-06-06 18:38] #167 closed

[2018-06-08 18:56] greenboxal opened #173 "Replacing cert doesn't work"
I'm having a very weird issue when adding a new ingress.

I have an ALB which had two certificates on it:

- `*.domain1.com`
- `api.domain2.com`

After I created a new ingress on domain3.com, I happened to have a certificate in ACM that could handle `*.domain1.com`, `*.domain2.com` and `*.domain3.com`. Here comes the weird part:

The new ingress for `something.domain3.com` doesn't have a valid wil

[2018-06-08 23:31] greenboxal commented on #173
Just correlated this with #162, seems like that was the issue.

[2018-06-08 23:31] #173 closed

[2018-06-09 13:06] szuecs commented on #122
@sdevang did you found the issue or did you tried another solution?

[2018-06-09 13:08] szuecs commented on #105
@mikkeloscar @mumoshu then I will close this issue. Please reopen if it does not work with the merge from #118 .

[2018-06-09 13:08] #105 closed

[2018-06-09 13:12] szuecs commented on #170
@so0k another question would be if you want to define the default cert in the annotation by hostname or by ARN. ARN would not be ambiguous, so I would prefer it.

Anyone else thinks different? @hjacobs @mikkeloscar

[2018-06-09 13:20] szuecs commented on #106
@cmcconnell1 regarding skipper we have now https://opensource.zalando.com/skipper/kubernetes/ingress-controller/ maybe this helps.
I am just reviewing GH issues in this project.

[2018-06-09 13:38] so0k commented on #170
agree on using ARN, identical to how we used to provision nginx-ingresss (using Terraform DataSource to render the ARN into the bootstrap)

I'll have a look at it next week.

[2018-06-09 14:16] mikkeloscar commented on #105
@szuecs :+1:

We are also using spot instances since months now :)

[2018-06-19 10:28] jchanam opened #175 "When multiple ALBs, not attaching certificates on new ones"
Hi,

We're facing an issue when more than 25 certificates are needed.

When the limit (done by AWS) is reached, a new ALB is created (this is done correctly). The problem is that when a new certificate has to be added to the second ALB and update the ingress status, this is not happening.

On new domains, the ingress status is set to the first ALB, but it should be to the second one (after attachi

[2018-06-19 12:51] mikkeloscar commented on #175
Thanks for the bug report!

[2018-06-19 17:13] 56quarters commented on #165
I'm running into the same issue when attempting to run two instances of the controller, one for internal traffic and one for public internet traffic. The controllers each constantly attach their own target groups to the ASGs and remove the target group of the other controller.

[2018-06-19 20:41] ese opened #176 "Cloudformation fails to apply new stacks due max certificates"
Even including only 25 or less in the cloudformation stack this one fails to apply changes internally.

Once the certificate limit is reached KIAC is able to create a new one ALB stack but if the old one need to change some of their certificates it fails to update. It's common deal with this situation since every new ingress could fit their certificate in the full ALB pushing someother to the new

[2018-06-19 20:59] ese commented on #175
some kind of black magic is happening here which lead to try to attach more certificates to one ALB than 25 limit
https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/14fb0703ba0e187e7bb837bf414d36f35f3a523f/worker.go#L112-L122

even fixing this you will face this #176

[2018-06-21 16:57] #165 closed

[2018-06-22 15:56] jchanam commented on #175
Also, I've seen that when having more certificates, it does a cloudformation template with more certificates on it, causing a failure.

Could it be there's a bug on the code that @ese is pointing out?

I think that this `!ok` should be just `ok`, so the TTL is only changed if it exists and it won't add a new element on the map.

https://github.com/zalando-incubator/kube-ingress-aws-controller/blob

[2018-06-23 05:39] JimtotheB opened #180 "Target group port 9999"
Where is it set, and how can I change it?

Skipper seems great and all, and I'm sure Ill probably end up using it,  I'm somewhat new to Kubernetes and porting over a fairly large deployment. Dealing with Kube2iam, RBAC, kube-ingress, among others, I was hoping to just have a target group pointing at nginx or something until I could figure out what was going on before moving to the next step.

[2018-06-23 08:29] szuecs commented on #180
You can also try without nginx or skipper and use a kubernetes service nodeport. You might need to change the target port to the range that works for the nodeport type.

If you want to understand the ingress setup better, I tried to explain it at https://opensource.zalando.com/skipper/kubernetes/ingress-controller/. If you have any questions please file an issue and I try to make the docs better.

[2018-06-23 08:44] lmineiro commented on #180
@JimtotheB I think this default can be customized. It's part of the CF definition. Check the CF docs https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/cloudformation.md#customization and see if that helps

[2018-06-23 11:42] mikkeloscar commented on #180
Currently the target port is the same as the healthcheck port. You can change it using the flag: `-health-check-port`. There's a PR to split this up so it doesn't have to be the same port for health and target (https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/161).

[2018-06-25 04:35] JimtotheB commented on #180
@szuecs @lmineiro @mikkeloscar Thanks a lot for the quick reply. Unfortunately I'm not much further along than I was the other day. I was really just looking for something to manage an ALB and certs then send the traffic into k8 for me to do with what I wanted, I think this lib comes with some assumptions that don't fit my use case. I'm looking for a little less magic than this + skipper provide.

[2018-06-25 04:35] #180 closed

[2018-06-25 12:10] jchanam commented on #175
Hi @szuecs,

What I can see on that piece of code
https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/14fb0703ba0e187e7bb837bf414d36f35f3a523f/worker.go#L106-L123
is the following:

* The managed item contains a list of ingresses (with a maximum defined of 25 by default) and also one stack (this is the CloudFormation stack with the certificates attached to it).
* What it creates,

[2018-06-25 19:13] szuecs commented on #175
The proposed change would add multiple certificates with the same ARN (same cert) to the list, this would trigger the bug earlier I would expect. If you have 26 ingress and 2 certificates, one a wildcard covering 25 ingress and the other covers the 26th, than it could lead to 2 alb creations that might fail because you probably can’t attach a certificate twice.

[2018-06-26 04:24] Alados opened #181 "TCP connection and expose ports except 80 and 443"
Could you help me, I tried create postgresql server. But for expose 5432 port I had to create LoadBalancer service. I can't expose this port in ingress. Also ingress by default not support TCP connection, and I can't connect to my database.

Is there a way to solve this problem?

[2018-06-26 04:38] mikkeloscar commented on #181
Kubernetes ingress is only designed to handle L7 (HTTP) traffic so it's not the right tool for what you are doing.

A service of type `LoadBalancer` is the way I would suggest to do it.

[2018-06-26 04:38] #181 closed

[2018-06-26 07:49] jchanam commented on #175
Hi!

As certificates is a `map[string]time.Time`, I think it'll only update the TTL, but will no increase the length of the map (as the `ok` is checked, in my proposal).

I think that what you are saying is what is happening now, because it'll only add an element if it does not exist.

If this is not the problem, what could cause it? Maybe I'm not understanding correctly the code because is a litt

[2018-06-26 10:10] mikkeloscar commented on #175
@jchanam I'm sorry I haven't had time to look at this yet. Will try to find some time one of the next days..

[2018-06-26 10:20] zioalex opened #182 "Ipv6 support"
I was trying to setup an IPv6 endpoint with the created ALB but I do not find any reference to it.

Is it supported or do you have any plan to support it?

[2018-06-26 15:14] zioalex commented on #182
Yep @szuecs  it is exactly what I meant. And it is already supported by AWS in VPC and ALB ( https://aws.amazon.com/blogs/aws/aws-ipv6-update-global-support-spanning-15-regions-multiple-aws-services/ ) . I tested and IPv6 is ok.
The opt-in annotation would be great. it should also have the option "both" to configure ipv4 and ipv6.

[2018-06-26 17:51] mikkeloscar commented on #182
@szuecs By annotation do you mean per ingress?

This sounds more like a global configuration that should be set by a flag, since the HTTP routing happens in a router like skipper, we couldn't determine, at the ALB level, if we should send ipv4 or ipv6 traffic to the cluster based on hostname.

[2018-06-26 19:37] szuecs commented on #182
@zioalex I would prefer dualstack instead of both, but yes you are right makes sense.

@mikkeloscar the problem is that we configure ALB to have only ipv4 addresses. I think we could add ipv6 and or dualstack.
Global flag will configure default and ingress annotation can overwrite it, which would have to create another alb. Skipper should not have a problem with kubernetes ipv6 endpoints.
The back

[2018-06-27 08:06] zioalex commented on #182
@szuecs Yep maybe duakstack is better, pointing us directly to the AWS terminology.
I think that the most important point here is to have the ALB configured also with ipv6.
Having Skipper ready is desirable but not required at this point because you can have an ALB configured independently by it. At the DNS level ipv6 will be supported with this [#576](https://github.com/kubernetes-incubator/exter

[2018-07-02 13:33] szuecs commented on #165
Thanks for testing and reporting the issue!

[2018-07-03 11:51] lambertpan opened #186 "AWS EKS Support"
will this work with aws eks?

[2018-07-03 11:54] hjacobs commented on #186
Yes, I think it should work (haven't tried it out yet) as it uses regular Kubernetes features (serviceAccount to connect to API server) and expects regular auto scaling group(s) or EC2 instances (which you have to operate yourself in case of EKS).

[2018-07-03 12:57] szuecs commented on #186
I think we can close this, because the question was answered. Feel free to open an issue if it does not work on EKS.

[2018-07-03 12:57] #186 closed

[2018-07-03 14:46] szuecs commented on #175
@jchanam Can you try if registry.opensource.zalan.do/teapot/kube-ingress-aws-controller-test:pr-184-5 solves the issue for you?

[2018-07-03 14:50] hjacobs commented on #186
@lambertpan I would be curious to know your experience trying it out with AWS EKS. Please let us know how it works and what the challenges are.

[2018-07-03 15:10] jchanam commented on #175
Hi @szuecs!

As @ese has pointed out on the PR, it's not fixing the issue.

It's still trying to create an ALB with more than the allowed certificates. As I told you before, I think it's because it's attaching every certificate available due to the extension of the map here:
https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/14fb0703ba0e187e7bb837bf414d36f35f3a523f/worker.go#L11

[2018-07-03 15:17] szuecs commented on #175
@jchanam thanks for the reply

[2018-07-03 15:21] jchanam commented on #175
If there's anything from me that could help solving the issue, I'll be super happy to try!

[2018-07-03 22:20] ese commented on #176
More detail on this as is tried to handle with #184 reducing max certificates to 24, this still lets in a brittle condition the stack specially in a high dynamic environments where ingresses are being added and deleted dinamically in an automated way.

## What happens

Once you completed an ALB with 24 certificates, adding ingresses (or deleting) with 2 new certificates in the same time frame betw

[2018-07-09 09:34] #176 closed

[2018-07-09 09:35] szuecs commented on #175
Please reopen if you see a problem with the new version, that we will release in some minutes

[2018-07-09 09:35] #175 closed

[2018-07-09 09:38] mikkeloscar commented on #98
Fixed by #184

[2018-07-09 09:38] #98 closed

[2018-07-09 09:42] szuecs commented on #176
https://github.com/zalando-incubator/kube-ingress-aws-controller/releases/tag/v0.7.1

[2018-07-09 12:47] leidixujian opened #188 "Stack creation failed by ingress controller"
Hello, i am testing the ingress aws controller. When I launched the ingress controller and log the pod. It failed to create stack in cloudformation.

I've checked in aws console. The creation of LB was failed due to "At least two subnets in two different Availability Zones must be specified (Service: AmazonElasticLoadBalancingV2; Status Code: 400; Error Code: ValidationError).  And the ingress rep

[2018-07-09 13:03] mikkeloscar commented on #188
@leidixujian See here for how subnets are discovered and make sure you have them setup like this in your VPC: https://github.com/zalando-incubator/kube-ingress-aws-controller#discovery

[2018-07-09 21:11] leidixujian commented on #188
@mikkeloscar Thanks for the response. I reseted my VPC to 3 subnets and the ingress controller runs.

[2018-07-09 21:11] #188 closed

[2018-07-10 06:01] lambertpan commented on #186
@hjacobs, It works very well with eks.
I followed the following steps;
1. created an IAM policy- [as in the doc](https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/deploy/kops.md#iam-role). And attached that policy with 'eks-k8s-node' IAM role
2. Added a security group [refered the doc](https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/deploy/ko

[2018-07-10 06:54] hjacobs commented on #186
@lambertpan great to hear!

[2018-07-10 15:09] ese opened #189 "Target Port is always setted with default value"
version: v0.7.1

Even using `-target-port=9989` the target groups are being configured to with 9999 as backend port

This was previously working setting `-health-check-port=9989`

[2018-07-10 18:50] #189 closed

[2018-07-10 18:54] mikkeloscar commented on #189
@ese fix released in v0.7.2.

Note that it's not enough to just redeploy the controller, some change to ingresses must happen in order to trigger a stack update.

[2018-07-19 07:50] szuecs opened #191 "log how many certificates were found"
We currently know how many EC2 and ASG and ... we have, but we lack the number of certificates we found in the logs.

[code]

[2018-07-20 09:04] so0k commented on #191
Currently the logs also lack status levels, which is a bit annoying to handle in centralised log system, adopting glog (as it's a standard across all k8s projects) might be something good (although that might need to go under a separate issue)

[2018-07-20 09:54] szuecs commented on #191
@so0k We will not change it to glog, because the agreement across the Go community is that, it's shit, because it makes it impossible to use something else then the flags package or use a package as library.

For the status levels we could change the logging to logrus.

[2018-07-20 09:57] mikkeloscar commented on #191
Related to #89

[2018-07-20 09:59] so0k commented on #191
@mikkeloscar - thank you - I searched for log related issue but didn't found that one, sorry for putting my comment in wrong issue

@szuecs - got it 😆

[2018-07-20 11:52] mikkeloscar commented on #191
Closed in #192

[2018-07-20 11:52] #191 closed

[2018-07-23 19:48] jhohertz opened #195 "Controlling ASGs used for target group selection."
I have so far failed to track this down, and thought I might just ask...

What is the mechanism by which the controller will look for instances to add to the target group, and how can we control that?

Scenario I am seeing is that I have a dedicated ASG for a certain purpose which, via taints, is *not* running the skipper that the controller forwards to. However these appear in the target group re

[2018-07-23 20:16] mikkeloscar commented on #195
See `CUSTOM_FILTERS` here: https://github.com/zalando-incubator/kube-ingress-aws-controller#how-it-works

[2018-07-24 16:34] jhohertz commented on #195
Ahhhh, I was looking through the code for flags vs. env vars. :)

This totally addresses what I needed, thank you for the pointer.

[2018-07-24 16:34] #195 closed

[2018-07-25 07:46] etiennetremel opened #196 "Request certificate if it doesn't exist"
The current certificate implementation only rely on existing certificate. It seems possible to request certificates using the the AWS API (see [ACM.RequestCertificate](https://docs.aws.amazon.com/sdk-for-go/api/service/acm/#ACM.RequestCertificate)).

The idea would be to request new certificates if the host name doesn't match any from the existing one.

What do you think, would it be a feature to

[2018-07-25 09:02] szuecs commented on #196
@etiennetremel the problem is that there are a lot of possibilities how to provision certificates, but I agree it would be nice to have it automated.

Another problem is that you have also to approve the CSR, so create for example DNS validation or e-mail validation.

If you want to build a POC it would be nice and I also would review it and try to guide you to get this into this project.

[2018-07-25 14:30] mikkeloscar commented on #196
I'm on the fence whether it makes sense to have it directly in this project or not. On the one hand it's nice to get it all out of the box and we already have the ingress and certificate discovery here, so it's not so much effort to implement.
On the other hand it might be a bit out of scope for what it's supposed to do, and maybe a separate tool could be build which would be more generic, e.g. al

[2018-07-25 21:50] mikkeloscar opened #197 "Target groups not being removed from ASG if stack is deleted"
In case a Load Balancer stack is deleted, the Target group will also be deleted but it will still be defined in the autoscaling group, preventing AWS from creating new instances in the ASG.

The problem is that we only list the TGs and loop through that list to find those that should no longer be attached to the ASG. We also need to check what is in the ASG but no longer in the TG list. https://gi

[2018-07-26 16:47] #197 closed

[2018-08-02 22:20] mikkeloscar opened #199 "Add support for HTTP -> HTTPS redirect."
Now supported directly on the ALB: https://aws.amazon.com/about-aws/whats-new/2018/07/elastic-load-balancing-announces-support-for-redirects-and-fixed-responses-for-application-load-balancer/

[2018-08-03 10:36] hjacobs commented on #199
We don't really need that for Zalando as we are using Skipper, but it would still be very nice to have :smile:

[2018-08-10 14:46] sgmiller opened #200 "Make some cert lookups optional"
We run the controller with limited AWS STS credentials (issued by Vault).  These credentials are not allowed to perform *any* operation in iam:*, which causes startup to fail.  To get around this we've custom built the controller to comment out the IAM lookup, as all our certs are in ACM.  It'd be nice if we could disable this in the official build via command line flag, or have it warn and move o

[2018-08-10 14:49] sgmiller opened #201 "Access logs configuration"
It'd be nice to be able to configure the Access Logs for the ALBs created.  Even better would be to have different logging per host, but that's impossible without a separate ALB per domain.

[2018-08-10 15:08] szuecs commented on #200
just add a PR!

[2018-08-10 15:08] szuecs commented on #201
If you would like to add a PR would be fine!

[2018-08-16 09:38] szuecs opened #202 "support aws shield"
https://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html#awsshield

[2018-08-17 14:43] timurkhafizov opened #203 "Controller doesn't delete stale load balancers"
Recently I've installed `kube-ingress-aws-controller`, configured it to work with Traefik (because it was a router we used before) and tested. Seems to be doing job very good!

Unfortunately, I've faced an issue where Controller doesn't remove ALB even if there are no matching Ingress.
In Readme I can see that Controller is supposed to remove ALB: https://github.com/zalando-incubator/kube-ingress-

[2018-08-17 16:12] szuecs commented on #203
We only mark to delete and clean up later, because there could be open connections not already served.
You just have to wait a bit to get it cleaned up automatically

[2018-08-17 16:13] timurkhafizov commented on #203
@szuecs thanks. How long should one for the cleanup?

[2018-08-17 19:17] timurkhafizov commented on #203
Based on my tests it takes 30 minutes for orphaned stack to be deleted.
Thanks for the info!

[2018-08-17 19:17] #203 closed

[2018-08-22 05:41] rverma-nikiai opened #204 "Support for rewrite target"
Can we target support for  `ingress.kubernetes.io/rewrite-target` as available in heptio / nginx ingress controllers.

[2018-08-22 05:48] szuecs commented on #204
Sure! Do you like to  provide a PR?

[2018-08-30 09:39] marandalucas opened #206 "Split shared security groups of ALB-internal and ALB-external"
### kube-ingress-aws-controller VERSION
```kube-ingress-aws-controller v0.7.2```

### Kubernetes version
[code]

### Environment
- **Cloud provider or hardware configuration**: AWS with Kops 1.9.6 + RBAC authorization

### What happened
When for the first time I create ingress resources with internal annotations (Internal ALB) or no annotations (Public ALB), the cloudformation provisions the two A

[2018-08-31 08:37] szuecs opened #207 "option to blacklist certificate ARNs"
One use case requires to blacklist some certificate ARNs to be not considered by the controller.

[2018-08-31 08:39] szuecs commented on #182
I tried this, but did not work (have to check how this can be put into CF:

[code]

[2018-08-31 12:27] zioalex commented on #182
It should be correct looking here
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-loadbalancer.html
:

{
  "Type" : "AWS::ElasticLoadBalancingV2::LoadBalancer",
  "Properties" : {
    "IpAddressType
<https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-elasticloadbalancingv2-loadbalancer.html#cfn-elasticloadbalancingv2-loadb

[2018-08-31 14:53] szuecs commented on #182
@zioalex could you try registry.opensource.zalan.do/teapot/kube-ingress-aws-controller-test:pr-209-1 in a test cluster with `-ip-addr-type=dualstack`?

It only works with the flag, no overwrite by ingress, but this was a thing I could do fast.

[2018-09-01 16:50] #207 closed

[2018-09-03 07:48] #182 closed

[2018-09-03 08:14] szuecs commented on #182
A new release was created.

Published docker container `registry.opensource.zalan.do/teapot/kube-ingress-aws-controller:v0.7.4`

[2018-09-05 07:38] wwyhy opened #210 "Unable to create ALB automatically when I create new cluster with kops"
Hi,

I am created new k8s on AWS with kops, and I added the --cloud-labels, secruity group and grant these permissions.

After cluster created, the ALB and target group cannot be created automatically, I checked the logs of container of kube-ingress-aws-controller. there is no error.

Could you please help on this?

[code]

[2018-09-05 07:53] szuecs opened #211 "Cert matching can select non trusted certificates"
We should support non trusted (self signed) certificates, but if we have similar matching results we should not just select the newer one, but check if both are trusted first and pick the trusted before checking "newer".

[2018-09-05 07:57] mikkeloscar commented on #210
Looks like you don't have any ingresses in your cluster.

[2018-09-05 08:29] wwyhy commented on #210
Yes, but it should create the ALB first, then after create the ingress, it will route to the ALB.
Now the ALB could not be created and it is empty in CloudFormation.

I tried to create one ingress, but it does not help. still cannot found the ALB in "ADDRESS" column.

[2018-09-05 10:09] mikkeloscar commented on #210
You need to create an ingress resource in the cluster before the controller will create any ALBs.

The logs you showed lists 0 ingresses so it's the only problem I can see. Maybe you can post the logs when running it in the cluster with ingresses.

also the output of `kubectl get ingress -o yaml` would be helpful.

[2018-09-05 10:44] aermakov-zalando commented on #211
This will not really work. You can't have both non-trusted and valid certificates matching the same hostname on the same ELB, because then one of the clients will not be able to verify (either the one that uses proper roots, or the one that uses private roots). If we really need to be able to use non-trusted certificates, I'd rather force the users to explicitly specify the ARN and then split them

[2018-09-05 13:44] szuecs commented on #210
@wwyhy the status field will be set from the controller, if the ALB is ready.

[2018-09-06 04:37] wwyhy commented on #210
Solved.

Thank you, Indeed, we need create ingress first, then the ALB can be created automatically (after 5~10 minutes).

[2018-09-06 07:26] #210 closed

[2018-09-06 17:49] nicroto opened #213 "No ALB created when deploying a new ingress."
I am trying to setup skipper on aws with kops and I get all the way down to deploying my ingress, but it unfortunately doesn't get an ALB created for it.

Here are the details of my setup and exactly what I did.

[code]

[code]

I've set all the necessary IAM permissions on nodes through the spec of the cluster and I've added the required cloudLabel:

[code]

Created the security group through the

[2018-09-06 18:15] mikkeloscar commented on #213
Go check Cloudformation in the AWS console, it might tell you something. Look for deleted stacks and check the events, maybe the stack gets created but is automatically deleted by AWS because of some error.

[2018-09-06 19:45] nicroto commented on #213
@mikkeloscar thanks for the response. Here is what's happening:

![issue](https://user-images.githubusercontent.com/1172150/45181073-03612680-b226-11e8-96e5-a4800a8613ae.png)

[2018-09-06 19:57] nicroto commented on #213
Now I also see another error for a missing permission "ec2:DescribeInternetGateways".

This permission is not part of those listed in the requirements doc...

[2018-09-06 20:02] szuecs commented on #213
@nicroto thanks for your detailed issue creation!
Does it now work for you?

We should enhance the docs and also point to the CF console as @mikkeloscar pointed out.

[2018-09-06 20:03] nicroto commented on #213
@szuecs thanks for the reply.
I am adding the permission now and will report once I've tested.

[2018-09-06 21:03] nicroto commented on #213
The problem hasn't gone away, unfortunately.

I think I figured out the needed permissions:

[code]

The problem seems to be only with the error from the screenshot:

[code]

[2018-09-07 07:02] mikkeloscar commented on #213
@nicroto can you show us what subnets you have in your VPC? We never tested with less than 3, so I don't know how it works or where this requirement of `At least two subnets in two different Availability Zones must be specified` comes from.

[2018-09-07 12:46] #211 closed

[2018-09-08 07:14] nicroto commented on #213
Sorry for the late response. And thanks for further working with me to resolve this.

I have only 1 subnet -> in 1 availability zone -> in 1 region.

Is this an unsupported scenario? If "yes" - why is it not supported?

Thanks.

[2018-09-08 07:39] mikkeloscar commented on #213
@nicroto it looks like this is a requirement for AWS ALBs: https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-application-load-balancer.html#configure-load-balancer (step 8.)

You would need to modify your VPC and add an additional subnet for a different AZ. Without knowing the setup of your VPC it's hard to provide suggestions :)

[2018-09-08 12:51] nicroto commented on #213
Guys... I finally managed to set it up... Boy, was that hard to do... How can this process be improved?

Here are the final changes that got me all the way to successfully created and assigned to my ingress ALB:

1. I had to create my cluster into more availability zones (at least 3).
2. The permissions that finally did it were (a complete list of them at this moment):

[code]

[2018-09-08 13:06] nicroto commented on #213
BTW, do I need to create A record from Route 53 to route traffic to the load balancer? I don't see records created by the ingress controller...

[2018-09-08 13:53] nicroto commented on #213
Weird I added the A record but even on the load balancer directly, I get 504... (timeout is set to 60 btw, but it would show 504 after just 10s, like the rules of the ALB are not respected)

When I port-forward to the services my ingress points to, I am able to load my app just fine.

Have you guys seen this before? Is there anything else I need to do in order to connect my domain to the services

[2018-09-08 14:40] nicroto commented on #213
Looking at the Target Group - it says "None of these Availability Zones contains a healthy target. Requests are being routed to all targets."...

[2018-09-08 15:00] nicroto commented on #213
I think this point from the requirements is not satisfied and that in turn prevents traffic to flow to my services (LB thinks the instances are not ready):

@mikkeloscar @szuecs, any chance someone can point me to how I do that?

[2018-09-08 16:48] nicroto commented on #213
I figured it out (or at least have a temporary solution):
 - The nodes couldn't accept traffic on `9999` from `0.0.0.0/0`. So I added an inbound rule on the nodes security group for it.

Unfortunately, that doesn't solve it all, since now my second host isn't being properly routed... Maybe I should open a separate issue for that...

[2018-09-08 17:49] szuecs commented on #213
@nicroto use https://github.com/kubernetes-incubator/external-dns to get your DNS records automatically. It's not the responsibility of the ingress controller to that. The ingress controller writes into ingress status the ALB endpoint and external-dns picks this up and set for every hostname definition in ingress the target to the ALB entry using an ALIAS record.

[2018-09-08 17:58] nicroto commented on #213
OMG... how many components does this thing have?!
OK, does that mean that I need to remove the Inboud Rule I just added?

[2018-09-08 18:00] nicroto commented on #213
Wait, this is only to create the records on the domain. I don't have an issue with that - I created the records pointing to the ALB, manually. The issue I have is that one of the routes doesn't get resolved.

[2018-09-09 10:43] szuecs commented on #213
You can see the routes if you portforward to the skipper pod 9911 (supportListener) and use curl on your local machine https://opensource.zalando.com/skipper/operations/#routing-table-information.
If the routing table looks similar to the ones working well, it will most probably be a network problem or firewall rule (security group for example).

[2018-09-13 09:03] kciredor opened #215 "v0.8.0 not tagged in zalando's docker registry"
docker: Error response from daemon: manifest for registry.opensource.zalan.do/teapot/kube-ingress-aws-controller:v0.8.0 not found.

Could you please tag it? It appears 'latest' is actually v0.8.0. Tnx!

[2018-09-13 09:32] szuecs commented on #215
I retriggered the pipeline that creates the docker container, thanks for creating this issue!
It's now available.

[2018-09-13 09:32] #215 closed

[2018-09-24 23:05] mdinuth commented on #204
Any update on this please?

[2018-09-25 09:32] szuecs commented on #204
@mdinuth no, but feel free to create a PR. I am happy to review and merge it.

[2018-10-04 03:17] tareks opened #217 "ALB not created in a VPC with public and private subnets across AZs"
It appears that I've hit a bit of a strange situation where the cloud formation stack for an internet facing ALB fails and enters a creation/deletion loop as `LoadBalancerSubnetsParameter` appears to not get populated at creation time. Strangely enough, with the same  exact setup, creating an ingress with `zalando.org/aws-load-balancer-scheme: internal` will successfully create an internal load ba

[2018-10-04 09:52] grahamar commented on #217
@tareks I had the same issue when I was creating my EKS cluster in an existing VPC. Internal LB was fine, as you mentioned it is for you too, I'll focus on what I did for internet facing LB.

I had to manually tag each public subnet with both the following (replacing `{cluster_name}` with your cluster name):

[code]

In addition I also tagged the route tables, NAT gateways and Internet Gateways wi

[2018-10-04 20:35] tareks commented on #217
Cheers @grahamar, I'll give that a try.

One observation is that I came in this morning and it looked like it magically fixed itself overnight! I have an ASG scheduled to scale down the worker nodes to 0 and then back up in the morning. It looked like the internet facing ALB got created without issues with the same setup i was struggling with yesterday. Perhaps the kube-ingress-aws-controller need

[2018-10-04 20:35] #217 closed

[2018-10-09 10:06] flmmartins commented on #213
I was suffering issues with the ALB not being created. My issue was: I recreate my cluster and the controller but ALB was not being created even though I thought I deleted everything it creates. I forgot to delete the Cloud Formation asset kubernetes-aws-controller creates. If you don't delete that it will never recreate the ALB.

[2018-10-09 12:56] szuecs commented on #213
@flmmartins can we make the docs more clear?
Any doc PR or suggestion to enhance / clarify is welcome.

[2018-10-16 07:43] mikkeloscar opened #218 "Fails to update ASG with empty target group ARN"
[code]

[2018-10-23 15:48] jhohertz opened #220 "Logic error when searching for security group"
This line:

https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/aws/ec2.go#L305

Is doing the wrong thing, in that it only looks for the `DefaultControllerID` in the value of the `kubernetes:application` tags, where it should be using the specified controller ID if set.

Planning to create a PR for this.

[2018-10-23 19:20] jhohertz commented on #220
PR in #221

[2018-10-26 13:58] jhohertz commented on #157
Was just browsing the open issues, wanted to share some thoughts on this one. I've noticed that outside of the cert list changing, there isn't really any other test for if the CF template is out of sync with the current configuration. (I've actually taken to provisioning and de-provisioning a dummy ingress to force it to sync up sometimes)

This is where the evaluation for "do we need to update?"

[2018-10-29 03:49] #220 closed

[2018-10-30 15:43] so0k commented on #199
Skipper has been great so far, but a new requirement to route traffic through a Firewall DaemonSet on the edge nodes no longer allows us to run Skipper with hostPort exposed.

As for the design of this feature, I see 2 options:

1. Just use custom CF Template or add flag for controller
1. Implement `ingress.kubernetes.io/force-ssl-redirect: "true"` Ingress annotation

### Option 1: Custom template

[2018-10-30 16:16] szuecs commented on #199
@so0k I am not against any change enabling your use case, but I am also interested in the problem in detail you had with the skipper deployment  in detail. Would you mind creating an issue in skipper repository, too?
I really would like to understand if there’s a limitation or we need more documentation how to support your use case.

To add my opinion on your options, I think both options could be

[2018-11-01 00:57] jansony1 opened #224 "CHINA REGION SUPPORT"
I was trying to deploy kube-ingress-aws-controller on zhy&bjs region, which dose not have ACM service. While it seems a must to do thing in this repo, i wonder if there is any walkaround to resolve this?

[2018-11-01 01:30] szuecs commented on #224
Good question, I have no access to these regions. Can you provide more insights what do they have instead of ACM, do they have IAM certificate support?

[2018-11-01 01:32] szuecs commented on #201
closed by https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/222

[2018-11-01 01:32] #201 closed

[2018-11-13 21:18] szuecs commented on #224
@jansony1 Does the china region has IAM certificate support?

[2018-11-13 22:00] #213 closed

[2018-11-14 10:35] flmmartins opened #226 "Issues with multiple paths"
Hello All,

I'm using KOPS/Kubernetes-aws-controller/skipper setup similar to what is describe [here](https://github.com/kubernetes/kops/blob/master/addons/kube-ingress-aws-controller/v1.0.0.yaml).

Hitting port 80 pointing to one service is fine.

But I also have api running in order port so I used the **same** DaemonSet and Controller as described above but I went to AWS and opened the port 4000

[2018-11-14 10:56] szuecs commented on #226
Which skipper version you are using?

As far as I understand you have a setup similar to the one shown in https://opensource.zalando.com/skipper/kubernetes/ingress-controller/#aws-deployment .

For your ingress you do not need to add anything in SecurityGroups, besides the static ones from worker to worker nodes and ALB targetgroup to skipper-ingress.

If skipper finds this ingress it should also

[2018-11-15 08:53] flmmartins commented on #226
Hello, can you give me an example? Cause I've been through the documentation page and I couldn't find

[2018-11-15 22:03] szuecs commented on #226
I don’t understand. What kind of example you want to have?

[2018-11-20 09:32] flmmartins commented on #226
So without path-prefix all the rotes were redirecting to my frontend app and it was showing a pretty 404 page.

I tried with path-prefix:

[code]
Now when I tried /backend lit's giving me 404 but not pretty page from our frontend application, it's the 404 from the browser. If I tried to hit /backend/ then the pretty page from our frontend applications gives me a 404 as it was happening before. Tha

[2018-11-20 20:46] szuecs opened #227 "controller can not handle invalid status entries"
In this case there was no ALB anymore but ingress status had an old entry.

controller logs:
[code]

CF stack errors:
![image](https://user-images.githubusercontent.com/50872/48801602-1a83c080-ed0d-11e8-9e99-3d31797dac52.png)

[2018-11-20 21:39] szuecs commented on #226
Hi! I just tested an ingress with 3 paths similar to yours and checked with deployment with replicas=2 or replicas=1 and it works as expected.

Can you check that the services you reference are also targeting the right backend as expected?

The test example below works as expected.

## test

### ingress

[code]

### 3 services

backend
[code]

connect
[code]

catchall
[code]

### 3 deployments

ca

[2018-11-21 14:11] flmmartins commented on #226
I was checking the files and my Service the type is NodePort... also my TargetPort and port are 4000 4000. Could that be affecting it? Best,

[2018-12-03 10:30] so0k commented on #199
@szuecs after replacing skipper we were still seeing incorrect responses - right now we have 5 domains allocated to the ALB listener with SNI and when requesting a.x.domain.com we sometimes get x.domain.com response.

We assume it's an issue with ALB, we are now testing kube-ingress-aws-controller with a maximum of 1 cert per ALB to see if this solves the issue.

else we'd have to switch to servic

[2018-12-03 15:20] szuecs commented on #199
@so0k can you open another issue with more insights, please?
We had some issues in the beginning with SNI and >25 certs and another one was that ALBs created via CF can not change the default cert, such that we sort and persist now the certs, to make changes more safe. We did not see any issues after that anymore.

[2018-12-06 03:22] so0k opened #229 "add ELB/NLB support - was: [Bug] Incorrect ALB response"
Ref: https://github.com/zalando-incubator/kube-ingress-aws-controller/issues/199#issuecomment-443662102

We identified an issue with ALB sometimes sending the incorrect response, this issue is most likely not related to kube-ingress-aws-controller at all.

we tried fixing it by using `-max-certs-alb=1`, but we are using wildcard certificates, so this still caused an issue with `test-a.foo.com` and

[2018-12-10 03:02] so0k commented on #229
AWS ALB seems to drop query path sometimes, causing incorrect responses, switching the ALB for an ELB doesn't cause these issues (but cert handling is very different as we can only have 1 listener per cert) - effectively need 1 ELB per cert

[2018-12-10 16:04] szuecs commented on #229
If alb is dropping the query, it’s probably an issue in aws and not in this project. I did not see this happening, but also did not tested it.
For sure we have no option to configure this behavior and I would recommend creating an issue in your aws console or check the service behind the alb. Do you use skipper or traefik behind the alb?

[2018-12-10 16:11] so0k commented on #229
@szuecs - correct this is merely a follow up from the previous discussion as you asked me to create a separate issue. Initially we assumed it was some issue with host based routing or SNI

but hitting the nodePorts directly and later switching over to ELBs solved this issue. I created the issue in case others hit the same problem. It doesn't matter if we use skipper or envoy for ingress routing.

[2018-12-10 19:43] szuecs commented on #229
@so0k Thanks for the clarification.
Maybe we can really create an ELB or also NLB, but should it work on `ingress` objects or better `service type loadbalancer` objects?
We would need a fully different CF stack, but the data should be already available and if you like to create a PR, I am happy to review and test it.

[2018-12-17 16:22] #206 closed

[2018-12-17 16:22] #23 closed

[2019-01-01 20:03] wickstargazer commented on #186
@lambertpan  i am facing a problem with EKS, the aws-ingress-controller cannot resolve dns from within the pod. Other pods can, the skipper can.

Any help or guidance?

[2019-01-01 20:16] wickstargazer opened #234 "Using with EKS private subnet POD for ingress-controller not getting assigned right iptable"
Hey guys,

I am running into trouble when using with EKS and in private subnet. The ingress-controller pod is not getting assigned the private ip on eth0.

This does not happen with skipper. Please help.

`Destination     Gateway         Genmask         Flags   MSS Window  irtt Iface
0.0.0.0         169.254.1.1     0.0.0.0         UG        0 0          0 eth0
169.254.1.1     0.0.0.0         255.2

[2019-01-01 21:08] szuecs commented on #234
I don't know the VPC setup of EKS, but in general the controller needs **no** access to a specific interface. It only needs AWS credentials (for example kube2iam) and access to AWS API with the go AWS SDK.
In my opinion the problem you try to investigate should be something else.

[2019-01-21 02:46] so0k commented on #229
We've been running with ELB's managed through Terraform (to only target subset of kube workers, similar to the `custom_filters` setting) and had WSS issues.

We're now testing with NLB's (which will require the usage of http://cert-manager.readthedocs.io/ instead of AWS Certificate Manager - sorry this takes long

[2019-01-24 19:40] hjacobs opened #236 "NLB Support (AWS Launched TLS Termination for NLB)"
AWS Network Load Balancer (NLB) now supports TLS termination, so we might want to get rid of ALB: https://aws.amazon.com/blogs/aws/new-tls-termination-for-network-load-balancers/

[2019-01-24 23:14] janario commented on #164
It would be great to have that, we have steps that have to be executed right after the ALB creating, in order to keep it secure

I've sent a PR https://github.com/zalando-incubator/kube-ingress-aws-controller/issues/164

Please take a look :)

[2019-01-25 09:38] szuecs commented on #164
@janario thanks for the PR. Your implementation does a fixed WAF rule, that is passed via CLI flag, which is fine and a step forward.
Do you want to also have one with ingress annotation with opt-in or opt-out of the fixed WAF from CLI params to the controller?

[2019-01-25 11:18] szuecs commented on #164
I assume that, you need to force to create another ALB.
We already have a similar annotation `zalando.org/aws-load-balancer-shared: "false"` to force a non shared ALB. I see 3 solutions for this:
1. Document that you need to set `zalando.org/aws-load-balancer-shared: "false"`, if you want to set a non default WAF rule or you get undefined behavior (not really safe if only one ingress wants to have

[2019-01-28 10:58] szuecs opened #238 "enhance WAF support to be per ingress"
Basic WAF support was implemented in https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/237.
One drawback of this implementation that, it is only possible to set a fixed WAF ID for all ALBs created by the controller.
A better solution would be to be able to set this via ingress annotation, too. For example  `zalando.org/aws-load-balancer-waf-id: "foobar"`

If we implement this w

[2019-01-28 10:59] szuecs commented on #164
#238 is the follow up for enhancing WAF support

[2019-01-28 10:59] #164 closed

[2019-01-29 22:01] mikkeloscar opened #239 "Controller fails to cleanup old Target groups from empty Autoscaling groups."
Imagine the following scenario:

1. You have a cluster with two autoscaling groups **asg-a** and **asg-b**. Both ASGs have **1** instance running each.
2. You deploy an ingress resource, which triggers the controller to create an ALB and attach Target groups to the two ASGs.
3. **asg-b** is scaled down to **0** instances (for whatever reason, e.g. cluster autoscaling).
4. You delete your ingress r

[2019-02-04 09:10] humayunjamal commented on #157
@szuecs how can I trigger an update to the CF stack now ? I have added/enabled S3 logging for ALBs created (btw there is no documentation regarding this flag I had to browse the issues to dig this one out)
where can I find documentation regarding the `version` flag ?

[2019-02-04 14:58] szuecs commented on #157
@humayunjamal all of this "trigger an update to the CF" exist in theory and is not implemented, yet.
I am happy to review PRs also adding documentation for the S3 logging would be valuable.

You can possibly workaround the problem if you create a new cert and and ingress that "needs" this cert, which would trigger a CF update.

[2019-02-05 06:05] humayunjamal commented on #157
@szuecs thanks will do that shortly

[2019-02-05 16:39] flmmartins commented on #226
In my case I think need it.. because I there's Swagger Web Page... so I need external access for backends.

[2019-02-06 21:53] szuecs commented on #226
@flmmartins can't Swagger API Web Page use the same ingress or a second ingress to expose the swagger API?
Maybe I miss understood something?

[2019-02-07 13:52] flmmartins commented on #226
I tried using different ingresses.... but maybe I did something wrong.... can you give me an example?

[2019-02-07 15:42] szuecs commented on #226
@flmmartins would you mind showing us an example of your setup, please?
It's hard to guess what you try to achieve.

In general if you have 2 different endpoints with 2 different TCP ports in your Pod, you can use 2 ingress to expose both:

Assuming you have pods that expose 2 ports and are selected via 2 Kubernetes services foo-web with port 8080, foo-swagger with port 9090, then these 2 ingress

[2019-02-19 17:22] Passpes commented on #236
is this feature added already?

[2019-02-19 17:31] mikkeloscar commented on #236
No, not yet!

[2019-02-25 04:49] so0k commented on #236
We've been using NLB with TLS termination for our clusters (managed by Terraform for now). Interesting to note no SNI support, so will need to provision an NLB for each cert that matches the ingress host requests.

[2019-02-25 08:47] szuecs commented on #164
Feature was released https://github.com/zalando-incubator/kube-ingress-aws-controller/releases/tag/v0.8.3

[2019-02-27 05:03] rverma-nikiai opened #240 "helm chart for kube-ingress-aws-controller"
I am wondering why there is no helm chart for this. This seems a widely accepted solution for ingress.
Using a helm chart will make it more easy to deploy and distribute.

[2019-02-27 08:32] szuecs commented on #240
@rverma-nikiai thanks for your request, the helm chart was done by users and reviewed by me at https://github.com/helm/charts/pull/4538#issuecomment-467472040, but since charts only run in GKE and AWS does not care about providing infrastructure or the helm maintainers do not care to ask about getting infrastructure from AWS (I don't have evidence and I tried to connect people from AWS with the he

[2019-02-27 14:51] rverma-nikiai commented on #240
@szuecs we can try possibly rolling this out to incubator directory https://github.com/helm/charts/tree/master/incubator

[2019-02-27 16:01] baez90 commented on #240
I have/had a working chart ( https://github.com/baez90/kube-ingress-aws-controller-helm ).
I didn't use it for a while so it is "completely" outdated and I'm pretty sure that there are a lot of improvements possible but might be useful as a base.

Feel free to recycle it if you want to :wink:

[2019-03-01 12:58] szuecs commented on #240
@rverma-nikiai I am not owner of the helm chart and I do not really want to maintain it. Feel free to apply one of these in the helm incubator and I can also review it, but I won't make sure that it will run with newer versions.

[2019-03-15 00:21] joberdick commented on #236
@so0k This seems impractical without SNI support. You can only have a few NLBs in an account. Bummer. I was interested in this.

[2019-03-15 00:24] so0k commented on #236
We switched back to Cert Manager and TLS termination at our ingress proxy due to some WSS issues. It’s been crazy, but we see the light at the end of the tunnel

[2019-03-15 08:50] flmmartins opened #241 "Updating security group"
Hello All,

I added some security groups due to AWS limit and add then as source of the main  load balancer security group and the load balancer stopped working.

I then got those new SGs and add then directly to the load balancer (instead using nesting) via AWS GUI configuration and it's still not working so I'm guessing I need to do something with kube-ingress-aws-controller to be aware of those

[2019-03-15 09:38] szuecs commented on #241
@flmmartins do you see in the logs `Security group ID: <defaultSGID>`?
Do you have set `zalando.org/aws-load-balancer-security-group: <ingSGID>`?
What is the SGID of the ALB set to?
Was the CF stack successfully updated?

[2019-03-16 19:23] szuecs commented on #236
@so0k did you used kube-ingress-aws-controller + skipper to do websockets (WSS?)?
If so we introduced a bug in skipper with a loadbalancer refactoring that was fixed in https://github.com/zalando/skipper/releases/tag/v0.10.186.

[2019-03-18 13:36] flmmartins commented on #241
I don't have any annotations since they are not in the documentation. Should I add the notation to the Security Groups?

How can I update the CF safely after making changes? Should a to a kubectl replace --force in kube-aws-ingress-controller or go to Amazon CF and click update? What is the recomended approach?

Tks!

[2019-03-19 14:42] szuecs commented on #241
No you should not need it.

The controller will do it for every ingress change, so if you create one, then you can see in the logs that it should do an UpdateStack. You can see it in the CloudFormation Stack in AWS console, that it was updated.

[2019-03-25 11:22] flmmartins commented on #89
Hello All,
I see that the PR is still open. Any update when it will be merged?

[2019-03-25 12:59] szuecs commented on #89
As soon as someone will resolve the conflicts, I will review it again.
Right now, it has no priority from my side.

[2019-04-04 14:25] mikkeloscar opened #243 "Upgrade to use Go modules"
Project should use Go modules instead of `dep`.

[2019-04-04 14:27] mikkeloscar commented on #234
Closing this as the problem seem to be unrelated to the project. Please re-open if you have more information.

[2019-04-04 14:27] #234 closed

[2019-04-04 14:31] mikkeloscar commented on #204
This functionality should be handled by the backing proxy IMO. For instance skipper used as ingress controller can do this with something like `modPath`: https://opensource.zalando.com/skipper/kubernetes/ingress-usage/#modify-path

[2019-04-04 14:32] #204 closed

[2019-04-04 15:01] mikkeloscar commented on #153
Done in #636

[2019-04-04 15:01] #153 closed

[2019-04-04 15:01] mikkeloscar commented on #122
No response, closing for now.

[2019-04-04 15:01] #122 closed

[2019-04-24 08:39] njuettner commented on #243
Fixed in PR: https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/244

[2019-04-24 08:39] #243 closed

[2019-04-24 15:42] #89 closed

[2019-05-02 08:32] szuecs commented on #239
It should be fixed by the linked PR #245

[2019-05-02 08:32] #239 closed

[2019-05-02 14:27] szuecs opened #248 "v0.8.4 can not attach member to ASG"
I think we merged a bug in https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/245

[code]

[2019-05-03 12:22] #248 closed

[2019-05-21 09:28] flmmartins commented on #241
If I add the annotation would it try to create it first? Or it will just used a previously created one?

[2019-05-21 09:41] flmmartins opened #251 "Cloudformation is always trying to change the certificates every 5 minutes"
Hello All,

I had to add/delete mutiple certificates manually to the load balancer (v0.8.0) and I was looking at the Cloud Formation Stack and it's trying to delete them.

[code]

And this goes one every 5 minutes or so

I was looking how to add them to the stack to avoid this behaviour of trying to delete and I saw this in the documentation:

[code]

Can I add more than one? Like an array of some

[2019-05-21 12:14] szuecs commented on #251
The controller tries to add all valid certificates that are wanted via `hostname` in ingress to the https listener, that it finds in your account. If you change the CF stack manually, you might create issues in how CF is handled by AWS. The controller will always delete these if no ingress wants to have these.

[2019-05-21 12:16] szuecs commented on #241
I guess the question is answered.

[2019-05-21 12:16] #241 closed

[2019-05-21 12:52] flmmartins commented on #251
When I mentioned manual change I mean that I went in AWS console and added certificates not in CF stack.

I have two names that should point to same load balancer
server.zone.net and server.marketing.com. I need both to be used by Load Balancer.

server.zone.net has a wildcard certificate (*.zone.net) and it's own server.zone.net cause that is only used by teams and the server.marketing.com has it

[2019-05-21 12:57] flmmartins commented on #241
Does it accept more than one security group like:
zalando.org/aws-load-balancer-security-group: sec1, sec2?

[2019-05-21 13:00] szuecs commented on #251
Ah ok, so you just added certificates manually in ACM, which is fine.
If you then have 2 ingress or 2 hostnames in one ingress:
- `server.zone.net`
- `server.marketing.com`
the https listener will get both certificates attached and the https client will send the requested hostname via SNI, such that the ALB httpsListener can present the right certificate to the user.

There is no need to use the

[2019-05-21 15:58] flmmartins commented on #251
That's what I did. This is clear not related with ingress.

 I go back to the logs. Since I created this load balancer I had to recreate the certificates and attach again...also I had to change the default certificates.

So going back to the logs the Cloud Formation is trying to create a certificate (why?)

It tries to

7:43:36 UTC+0200 | UPDATE_ROLLBACK_COMPLETE | AWS::CloudFormation::Stack | kub

[2019-05-21 16:13] flmmartins commented on #251
Looking to the Cloud Formation Template I can see reference to these certificates but they were deleted which means that this needs to be updated somehow. How can I do this?

[2019-05-22 07:09] szuecs commented on #241
I don’t think so, we should have a more structured setting if this would be a feature we supported.
Please create a separate feature request for that.

[2019-05-22 07:16] szuecs commented on #251
It doesn’t find the certificate.
Please check that the certificate and loadbalancer are in the same region.
Check the first `create failed` in the cf output (6th last row)

[2019-05-22 11:54] MarcusNoble opened #252 "Add argument to specify the `resourceLifecycleOwned` value"
https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/0d6be53f9cbcc9cd266bae3d27c9974977e19bda/aws/ec2.go#L43 currently requires that the cluster be tagged as "owned". It is possible that this may also be set to "shared" but will be ignored by kube-ingress-aws-controller with no error or debug messaging explaining why.

I think it'd be useful to be able to provide an override for t

[2019-05-22 11:55] mikkeloscar commented on #252
Just to understand, what exactly is the use case? When would you have ec2 instances that are shared between clusters?

[2019-05-22 12:00] MarcusNoble commented on #252
It's not that the instances are shared, it's that you're running in a shared environment (e.g. there may be another cluster running in the same VPC).

Taken from here: https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html

[2019-05-22 20:53] mikkeloscar commented on #252
Sorry, the specific line you linked to is about ec2 instance tags which I think should only be owned by a single cluster even if you have many clusters in one VPC. Unless I missunderstand the EKS docs only the subnets needs to have be `shared`, which is also how we run it and it works fine. The only thing we could maybe allow being `shared` is the security group, but the EC2 and ASGs should stay w

[2019-05-23 07:41] MarcusNoble commented on #252
Yeah, after reading it again I think you're right. I think we must have assumed all values needed to be the same for that key.

I'll close :)

[2019-05-23 07:41] #252 closed

[2019-05-27 08:09] flmmartins commented on #251
They are in the same region.
I guess what I could try to do is use alternatives names and put all certicates into one and then use the annotation.

[2019-05-27 10:29] pabloborh opened #254 "kube-ingress-aws-controller failed to attach target groups to ASG"
Hello,

I'm facing with this error:

time="2019-05-27T10:04:52Z" level=info msg="Found 8 stack(s)"
time="2019-05-27T10:04:53Z" level=error msg="UpdateTargetGroupsAndAutoScalingGroups() failed to attach target groups to ASG 'master-eu-west-1b.masters.dev-eu-west-1.redacted.net': ValidationError: Provided Target Groups may not be valid. Please ensure they exist and try again.\n\tstatus code: 400, re

[2019-05-27 11:15] pabloborh commented on #254
Deleting old cloudformation stacks works.

[2019-05-27 11:15] #254 closed

[2019-05-27 13:26] szuecs commented on #251
The controller does only CloudFormation. The creation of ALBs is quite complex, such that it is simpler and better supported by AWS tools supporting rollbacks automatically.

One thing that you might had the issue with: The controller has one slower loop to detect certificates, because certificates are not that often created or updated. You might only need to wait to let the controller detect the

[2019-05-27 14:13] amila-ku commented on #202
i would like to work on this issue..

[2019-05-27 14:18] szuecs commented on #202
Please share what you exactly want to build, if you figured it out. For example "user set per ingress annotation" or "operator starts the controller with a new flag `--aws-shield-id=myshield`".
Let us know if you need any help. We can guide you in the code, if needed.

[2019-05-29 09:27] szuecs opened #255 "Document all annotations and flags"
All features via annotations and flags should be documented

[2019-06-03 15:46] joberdick commented on #23
@hjacobs any thoughts on specifying security group by a tag instead of SG name? We automatically generate clusters with supporting SG's. Our SG names are dynamic. We could easily tag them with consistent names such as "internet-public".

[2019-06-03 15:59] szuecs commented on #23
@joberdick feel free to create a new issue for your use case.
The question from my point of view is:
- How this should work for shared ALBs and the user point of view?
- Would you tag all ingress with the same SG-Tag annotation?

If you can write down what you want and define a workflow how to use it, it would be simpler to think about the solution.

[2019-06-03 16:48] joberdick opened #257 "Enhance security group annotation support"
I have found that security groups can be selected via ingress annotation found here: https://github.com/zalando-incubator/kube-ingress-aws-controller/issues/23

My only challenge is that when using the SG name in the annotation, its not easily predictable due to the fact that we automate our SG creation with every cluster. So SG's names will be unique per cluster.

I am thinking about how this cou

[2019-06-03 20:54] amila-ku commented on #202
I looked into the shield implementation guides and it only seems to require additional configuration when used as the shield advanced which is $3000 per month. Initially, I was under the impression shield can also be used in 'pay as you go' service. So now I don't think shield advanced is something I want to use.

[2019-06-03 21:09] szuecs commented on #202
@amila-ku, fair enough, I never looked into it, but I agree the price model seems to be quite expensive and not what you should want to have. It seems also quite expensive to test it.

[2019-06-07 13:15] joberdick commented on #257
My work around for now was to create separate ingress controller for a less restricted SG.

So users can use the a simple name of the controller of the annotation without having to know the SG by name.

[2019-06-10 09:10] Sanwel commented on #255
Hello All,

Is there any options to change default ELBSecurityPolicy? I rebuild docker image with changing these two files:
- aws/adapter.go
- aws/cf_template.go

And it had no effect

How can I change it for example to ELBSecurityPolicy-TLS-1-2-Ext-2018-06?

[2019-06-10 09:42] szuecs commented on #255
Did you tried the flag: `-ssl-policy=ELBSecurityPolicy-TLS-1-2-Ext-2018-06`?

[2019-06-10 09:44] Sanwel commented on #255
No, I'll try it now, thank you so much!

[2019-06-12 08:45] szuecs commented on #257
@joberdick It would be a nice enhancement to enable SG by ingress.
I think it should have an annotation that chooses the SG to use for the ALB and decide based on this, if we have to create a new ALB or not.
Does it makes sense to you?

Do you want to work on that or should we do this (right now we do not have much priority, but after the NLB I would probably work on that)?

[2019-06-12 08:47] szuecs commented on #226
I think it's not an issue in this component and since there was no response since quite a while, I will close it now

[2019-06-12 08:47] #226 closed

[2019-06-14 19:44] joberdick commented on #257
I'm not skilled in GO yet.

yea, whenever you can fit it in.

Let me know if you want to talk through the details further before you pick it up.

Thanks!

[2019-06-24 09:17] szuecs commented on #157
A controller restart triggers now an update of all CF stacks.

[2019-06-24 09:17] #157 closed

[2019-07-01 18:35] szuecs opened #260 "Nlb with udp support"
https://aws.amazon.com/blogs/aws/new-udp-load-balancing-for-network-load-balancer/

Might be interesting

[2019-07-03 13:02] njuettner opened #261 "Support Ingress annotations from aws-alb-ingress-controller"
https://kubernetes-sigs.github.io/aws-alb-ingress-controller/guide/ingress/annotation/

We also should support dualstack.

[2019-07-03 13:05] mikkeloscar commented on #261
Dualstack support was added here it: https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/209

[2019-07-09 06:17] lkusnadi opened #263 "Running multiple instances of kube-ingress-aws-controller"
Anyone has successfully implemented multiple instances of kube-ingress-aws-controller on a single cluster? I have a use case where I have to split the ALB because we need to increase timeout for a group of applications while leaving the rest on default timeout.
I have managed to deploy via helm for 2 deployments of kube-ingress-aws-controller as follow:

default-controller:
[code]

special-control

[2019-07-09 08:50] szuecs commented on #263
@lkusnadi As far as I understood you use 2 kube-ingress-aws-controllers deployments and one skipper ingress deployment to route the traffic. So both AWS TargetGroups point to skipper.
I think you need to add `-kubernetes-ingress-class="(default|special)-alb$"`, such that skipper will find both.

Another hint: You can check the skipper routes: port-forward and https://opensource.zalando.com/skipper

[2019-07-10 00:23] lkusnadi commented on #263
@szuecs Thanks for your fast reply. Currently I use 2 sets of skippers: one belongs to default-alb listening on port 9999, the other belongs to special-alb listening on port 9988. The reason for this is to have a different backend timeout in skipper.
I've applied the following arguments to the "default-skippers" daemonset:
[code]

the kubernetes-ingress-class argument does not solve the problem. I

[2019-07-18 10:41] flmmartins commented on #251
I did that. Deleted the controller POD and then it recreated a new one but the stack issue continues.

[2019-07-19 13:28] szuecs commented on #251
Can you deploy the [new release](https://github.com/zalando-incubator/kube-ingress-aws-controller/releases/tag/v0.8.11) of the controller?
We found a bug, that might fix also your issue.

If it does not fix the problem, then we need more information about how to trigger the bug.
Can you share a full ingress, start of the controller logs and some cycles of logs that show create/update CF stack and

[2019-07-19 14:32] flmmartins commented on #251
I worked good part of the day on this today so here was I did:

1. **Restarted the controller**
2. **Tried to edit the CloudFormation MANUALLY to delete old certs and add new**
When I tried to edit with new information. Error:
**UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS** state and can not be updated

3. **Hardcoded certificate with  [zalando.org/aws-load-balancer-ssl-cert](http://zalando.org/a

[2019-07-19 14:34] flmmartins commented on #251
After this investigation I think the CF stack is in some sort of loop... so I cannot do anything...
Is it possible to delete it?

[2019-07-19 16:51] szuecs commented on #251
I also think it’s in a bad state. I would try to ask the support for this. You might want to use the owner annotations and the controller start with the owner flag to let this not interfere with your ingresses as a workaround.

[2019-07-22 16:37] jhohertz opened #266 "Regression in CUSTOM_FILTERS >= v0.8.4"
We have been using the CUSTOM_FILTERS mechanism to isolate a certain set of ASGs as valid for target groups.

Versions >= v0.8.4 no longer honour the CUSTOM_FILTERS specified and instead include all non-master ASGs, resulting in extra, unhealthy hosts in the target groups list.

I haven't had a chance to do deep analysis yet, but the new getOwnedAutoScalingGroups func seems to be at the heart of t

[2019-07-22 20:37] szuecs commented on #266
@jhohertz did you tested https://github.com/zalando-incubator/kube-ingress-aws-controller/releases/tag/v0.8.11 ?
We fixed one case with the ownership handling in that one.

[2019-07-23 13:26] jhohertz commented on #266
I'll have a look and confirm, thanks!

[2019-07-23 13:42] jhohertz commented on #266
Unfortunately the regression is still present in 0.8.11

[2019-07-23 14:42] jhohertz commented on #266
Haha nope, stymied by the aws sdk being inconsistent.

So at the heart of this, I'll try to explain what's happening:

# Prior to 0.8.4:

* UpdateAutoScalingGroupsAndInstances beings by collecting instance information, filtered by the CUSTOM_FILTERS if specified
* It then builds a list of ASGs *from* the collected instances (which have already been filtered)
* And fetches ASG information for that

[2019-07-24 08:31] szuecs commented on #266
@jhohertz thanks for looking into this issue.
I think I have no time this week to create a PR.
As far as I understand you will work on a PR, so I assign the issue to you. If you don't want to do it, we can take over later, when we have more time.

[2019-07-24 15:06] jhohertz commented on #266
I'll see what I can do in the next week. :)

[2019-07-25 07:08] flmmartins commented on #251
Yes... well... in the end deleting the stack fixed the issue but it involved provisioning a new LB indeed.

Isn't there a way to prevent this issue by adding a timeout to the rollback or some interval in between rollbacks?

Aparently according to AWS that is pretty common issue with CF stacks: if you go to support forums and also in AWS documentation there's a lot of reference about CF being stuck

[2019-07-25 10:56] lambertpan opened #267 "Sticky Session"
I have enabled the SessionAffinity on the service, and from kube-ingress-controller I expect something similar to [nginx-cookie](https://kubernetes.github.io/ingress-nginx/examples/affinity/cookie/)  - Do we have anything like this? Or, how  to handle session affinity with kube-ingress-aws-controller?

[2019-07-25 15:15] szuecs commented on #267
@lambertpan Can you check if the Amazon ALB supports sticky sessions?

[2019-07-25 15:24] szuecs commented on #251
There is no nested stack involved.
We chose the safest way that we are aware of and set `OnFailure: aws.String(cloudformation.OnFailureDelete)` in https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/aws/cf.go#L151.
If you are aware of a better solution, I would like to hear. :)

Resources that are created and updated by CF stacks are not meant to be modified. So in my opin

[2019-07-25 16:21] szuecs commented on #263
Sorry, to not have followed up since some days!
I just overlooked the notification :(

Got it now, so you create different sets of ALBs with 2 kube-ingress-aws-controller and have for these 2 different set of skippers running.

You would need to run  kube-ingress-aws-controller with `-ingress-class-filter=default-alb` and a second with `-ingress-class-filter=non-default-alb` and you need for the `

[2019-09-09 07:49] MarcusNoble opened #269 "Update the AWS SDK version to support Web Identity providers for IAM credentials"
To be able to move away from kube2iam and use the new native IAM solution in EKS 1.14 the AWS SDK needs updating to at least 1.23.13

See:
* https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html
* https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html

[2019-09-09 08:14] #269 closed

[2019-09-11 13:28] martinohmann opened #271 "Support for Cloudwatch Alarm configuration"
We'd like to automatically set up Cloudwatch Alarms for certain ALB metrics (e.g. `RejectedConnectionCount`) to be able to get better visibility of problems that might occur between the ALBs and the actual ingress controller (nginx-ingress-controller in our case).

I was thinking about making Cloudwatch Alarms configurable in an optional ConfigMap which would then be rendered into the Cloudformati

[2019-09-11 16:00] szuecs commented on #271
@martinohmann can you show how the data could look like that you imagine to configure Cloudwatch Alarms for an ingress?

Right now I would recommend to try to use ingress annotations, because the state is only in one place, but maybe it makes sense in this case. :)

[2019-09-11 17:34] martinohmann commented on #271
Sadly, ingress annotations are not flexible enough for this feature because each Cloudwatch Alarm has quite a few fields that can be/need to be configured.

Here is the documentation for the CW Alarm fields that can be set via Cloudformation: https://docs.aws.amazon.com/en_us/AWSCloudFormation/latest/UserGuide/aws-properties-cw-alarm.html#aws-properties-cw-alarm-syntax.yaml

There are basically on

[2019-09-11 19:09] szuecs commented on #271
Sounds great to me!

@mikkeloscar do you have any objections?

[2019-09-12 06:44] mikkeloscar commented on #271
Sounds fine to me as long as it's an opt-in feature :)

[2019-09-20 11:01] flmmartins commented on #251
If I do a minor change like changing the default certificate (I'm not creating anything.. just reassigning default) does that will cause issues as well?

[2019-09-20 12:46] szuecs commented on #251
Yes, default certificates you are not allowed to change (CF limitation).

[2019-09-30 11:55] roffe opened #274 "Weird state on cloudformation stack after upgrade leading to 503's from ALB"
when i updated from 0.8.3 to  0.8.13 some sort of update & rollback loop started happening on the CloudFormation stack for the main ALB and all the ingress rules started giving 503

About 2 weeks ago a ACM certificate was re-created with DNS renewal instead of mail renewal and the new cert was assigned to the ALB before the old one was removed from ACM.

nothing was done about "KIAC" as i was unde

[2019-09-30 18:37] mikkeloscar commented on #274
It's probably hard to debug without a real example anymore, but my guess would be that it maybe tries to gracefully face out the certificate and this could cause confusion. (We store the certificate arn and a timestamp as a tag on the cloudformation stack to detect when it should be removed).

If you see a problem like this again, a snapshot of the stack template, logs of KIAC and a list of all th

[2019-10-01 06:32] roffe commented on #274
@mikkeloscar thank you for the reply. as a matter of fact i noticed that the no-longer existing certificate was indeed a tag on the cloudformation stack just as i was deleting it but it just slipped my mind as i was set on KIAC not reading the stack but getting certs from ACM

thank you this help explain what was going on

[2019-10-01 07:59] szuecs commented on #274
@mikkeloscar I think we can test it, when we have some time.
I think KIAC should be able to recognize errors from CF and recreate CF stack if we have such a CF stack state.

[2019-10-01 08:58] mikkeloscar commented on #274
I don't know if re-create is the right thing because it can potentially be more disruptive. But I'm sure we could already do more to prevent weird states in the first place.

[2019-10-20 22:55] andreasph commented on #236
@joberdick since a little more than a month NLB has SNI support (https://aws.amazon.com/about-aws/whats-new/2019/09/elastic-load-balancing-network-load-balancers-now-supports-multiple-tls-certificates-using-server-name-indication/)

I'm currently using kube-ingress-aws-controller + ingress-nginx (no skipper) and I have a problem with http2 requests forwarded to the targets by the ALB as http1.1: t

[2019-10-21 12:55] szuecs commented on #236
@andreasph just to make sure the basics are met: Do you have a https target group (`ALB -> nginx`)?

[2019-10-21 13:03] andreasph commented on #236
@szuecs the whole setup is working fine with http ingress. gprc is supported as well by nginx ingress, the problem is that the external HTTP2 grpc request is then forwarded by the ALB to the target group as HTTP/1.1

it is somehow similar to this problem: https://github.com/kubernetes/ingress-nginx/issues/2963#issuecomment-415141659

does skipper support grpc ingress?
I preferred to use nginx ingr

[2019-10-21 13:07] andreasph commented on #236
@szuecs unless you where suggesting to have an https listener as target on nginx side: that I don't have and I don't want to have. I'd need to provision certs on the nginx ingress side and lose the whole benefit of having tls termination at ALB level

[2019-10-21 13:29] szuecs commented on #236
@andreasph H2 often only works for https. H2 over plain TCP is called H2C, so maybe AWS ALB does not support it, or you GRPC backend server handler does not support it.

Does Nginx support H2C?
Skipper does not, but I want to build it in the future.

[2019-10-21 15:29] andreasph commented on #236
@szuecs trying to test H2 instead of H2C but the problem is that as you suggested I'd need an https target group, while it was created as http (https://github.com/zalando-incubator/kube-ingress-aws-controller/tree/master/aws#L213)

I don't find how to override the target group protocol

[2019-10-21 15:35] szuecs commented on #236
@andreasph I guess we need to have a PR for enabling TLS on the TargetGroup. In a test cluster I would stop the kube-ingress-aws-controller and try to modify the ALB TG manually. Later you can delete the CF stack and let kube-ingress-aws-controller recreate the CF stack, otherwise you would likely have a broken CF stack

[2019-10-21 15:42] andreasph commented on #236
@szuecs unluckly there's no option to update the protocol of the target group once it's created
I will see if I have time to create a PR for it here

[2019-10-23 12:52] andreasph commented on #236
@szuecs I did some test with both HTTPS ALB->HTTPS NGINX INGRESS->GRPC and HTTPS ALB->HTTP NGINX INGRESS->GRPC and the results are the same
inspecting the grpc service with reflections works, calling grpc methods not

I still have to test HTTPS ALB->HTTPS NGINX INGRESS->GRPCS

[2019-10-23 20:49] mikkeloscar commented on #266
This was fixed in #277

[2019-10-23 20:49] #266 closed

[2019-10-25 07:18] mikkeloscar opened #282 "Add support for deletion protection for Load Balancers"
ALBs and NLBs have a feature to set deletion protection: https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html#deletion-protection to avoid users from accidentally  deleting the load balancer when clicking around in the AWS Console.

We already have a feature to protect CloudFormation stack termination: https://github.com/zalando-incubator/kube-ingress-aws-con

[2019-10-25 07:24] mikkeloscar commented on #271
This was done! Thanks @martinohmann :)

[2019-10-25 07:26] mikkeloscar commented on #260
@szuecs how would UDP support fit into an ingress layer? I worked on #242 but it only supports TCP/TLS for now as I don't know how we could utilize UDP here.

[2019-10-25 07:27] mikkeloscar commented on #199
This was implemented in #276. thanks @jhohertz :)

[2019-10-25 07:27] #199 closed

[2019-10-25 08:21] szuecs commented on #260
@mikkeloscar I think the first step is to understand how we can run behind NLB with packet forwarding instead of proxying. I would let UDP out of scope and would first focus on TCP/IP and SNI.

[2019-10-31 10:08] mikkeloscar opened #283 "Use kingpin for better flag parsing."
As discussed in [#242](https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/242#discussion_r339008378) we want to move to kingpin for better flag handling/validation.

[2019-10-31 11:28] szuecs commented on #236
NLB is now supported https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/242

[2019-10-31 11:28] #236 closed

[2019-10-31 12:00] flmmartins opened #284 "Load Balancer Got Deleted & Recreated After One Node Died"
Hello,

We have currently 3 Nodes in our Cluster.  We forcefully deleted one of our nodes and the suddenly all infrastructure stopped working.

We realised that the load balancer and CF stack got recreated after we deleted the node. The DNS records were still using the old load balancer then everything went down.

Is this normal behaviour? I mean I found a bit crazy that because one node went down

[2019-10-31 12:11] mikkeloscar commented on #284
This is not the expected behavior. We terminate nodes all the times in 140 clusters and never see this.

If you have the logs of `kube-ingress-aws-controller` from the time the Load Balancer was deleted then we can maybe have a look. I would also look at CloudTrail events to understand who deleted the load balancer/cloudformation stack.

[2019-10-31 14:10] flmmartins commented on #284
Logs:

**Autoscaling events**
Terminating EC2 instance: i-03c20f1283f9922e3 | 2019 October 31 09:53:09 UTC+1
Launching a new EC2 instance: **i-0bbbe2a222ab22217** |  2019 October 31 09:53:44 UTC+

**Logging of kube-ingress-aws-controller**
* time="2019-10-31T09:57:11Z" level=info msg="Terminating /kube-ingress-aws-controller"
* Then it goes back to it's routine of founding EC2, certificates & etc

[2019-10-31 19:53] #283 closed

[2019-10-31 22:43] mikkeloscar commented on #284
Thanks for all the information. I think the fact your instance was deleted only is relevant in the sense that the controller was restarted. Normally this should be fine, but it may have triggered a condition where it decided to create a new stack.

Without the full log of the controller it's a bit hard to guess what it may have done. But if you could provide the full controller log (obfuscated acc

[2019-11-01 08:30] mikkeloscar commented on #282
I tried this and it's a little bit annoying to handle because if you enable it then the stack deletion fails if a stack is not to be used anymore. So you need to first disable this and then delete the stack..

[2019-11-01 12:14] flmmartins commented on #284
Hello,
Logstack is huge! So I had to delete some chunks that SAID FOUND XYZ

[code]

Looking at this log I conclude that the MASTER deletion cause the new stack to be created.
Is that possible?

[2019-11-01 12:30] mikkeloscar commented on #284
Is that possible?

No I don't think so.

From the log I see that when a new `kube-ingress-aws-controller` instance started up it decided to mark the "old" stack for decommissioning and created a new stack to replace it.

This is what we see here:

[code]

What we don't see is WHY did the controller decide that the "old" stack should be decommissioned.
My best guess based on this is that you were r

[2019-11-01 12:31] mikkeloscar commented on #284
Assuming my theory is correct I would strongly suggest that you use versioned tags for the images you use. Otherwise you can never know which version you are running :)

[2019-11-01 12:39] flmmartins commented on #284
WoW you replied fast. I made a mistake in the logging and I edited my post with that... if you can look at the logs I added the moment the machine that made the CF Stack changes were created

I'm not using the YAML from Kops... I just used that example to give you an example with replica numbers..
My current YAML is  this one (in terraform code):

[code]

[2019-11-01 12:45] flmmartins commented on #284
Here is the YAML representation

[code]

[2019-11-01 12:52] flmmartins commented on #284
Now I'm wondering if Terraform didn't added stuff there that I didn't specify for example this:

[code]

What is this namespace doing there? Maybe this is the cause? Not sure....

[2019-11-01 13:35] jhohertz commented on #284
I'm a little late to this, but I just wanted to jump in on this and say... to me it sounds like some configuration (or as you mentioned, labeling) difference that only kicked in when the service restarted due to a node restart.

To put it into perspective... I am constantly bringing clusters up and down using this ingress controller, and because it deploys via cloudformation, I can destroy an enti

[2019-11-01 14:01] flmmartins commented on #284
And you usually use only one controller replica? Is it advisable to use more than one?

[2019-11-01 14:05] jhohertz commented on #284
I only run the one instance... I don't know actually that running multiples is supported? @szuecs ?

From my perspective, a momentary delay in the controller being rescheduled is no big deal, as a slight delay in configuring or removing an ingress is no big deal for us, as adding/removing ingresses are a relatively rare event for us.

So I've never explored trying to run the controllers in a redun

[2019-11-01 14:19] szuecs commented on #284
@flmmartins @jhohertz if you run multiple replicas of the controller you should separate them via ownership.
We just run one instance per cluster. If the controller is down for a minute it does not matter.

[2019-11-01 14:23] flmmartins commented on #284
I will change this metadata and hope this will solve the issue in the future... Thanks all for the help.
Btw @jhohertz I was intrigued by your commentary so If I delete the cluster it will not delete the LB? How come if I do kubectl delete <deployment> the CF stack is deleted? So because I don't give this command the CF stack remains? Interesting....

Thanks for all the help! I'll close this know.

[2019-11-01 14:23] #284 closed

[2019-11-01 14:24] #251 closed

[2019-11-01 15:20] jhohertz commented on #284
@flmmartins: I am not doing a delete of the deploy before I shutdown the cluster, so maybe it never gets a chance to shutdown nicely? :) I may look into that vs. what I am doing now.

[2019-11-06 12:24] mikkeloscar opened #290 "Support enabling/disabling HTTP listener per ingress"
As brought up here: https://github.com/zalando-incubator/kube-ingress-aws-controller/pull/289#issuecomment-550263496 it may be desirable to allow enabling/disabling HTTP listener support per ingress rather than on a controller level which is the only thing supported now.

[2019-11-12 09:38] dintel opened #291 "Allow specifying empty ingress class in ingress-class-filter parameter"
When specifying list of ingress classes that controller should handle allow specifying empty name. Currently when specifying ingress-class-filter parameter controller will ignore ingress objects with empty or missing `kubernetes.io/ingress.class` annotation.

[2019-11-12 14:41] jhohertz commented on #291
Isn't this the intended behaviour? If you don't wish to filter ingress classes, do not specify an ingress-class-filter? Maybe I am missing something?

[2019-11-12 16:58] dintel commented on #291
In our setup I am trying to setup 2 ingress controllers such that one will handle specific ingress class X and another should handle Y and <empty> class (or class is not set at all).
First controller has `ingress-class-filter=X` and works correctly. Second controller has `ingress-class-filter=Y,` (note the comma in the end), but it only manages ingresses with class Y.
I tried running another contr

[2019-11-12 18:39] jhohertz commented on #291
I see what you mean now.

[2019-11-12 21:14] szuecs commented on #291
Please also add some docs for the pr, thanks

[2019-11-17 11:21] dintel commented on #291
@szuecs Added mention of the behavior in README file.

[2019-11-23 11:16] szuecs commented on #291
Merged the pr, release should follow automatically soon

[2019-11-23 11:16] #291 closed

[2019-12-11 15:40] mikkeloscar opened #295 "TG not cleaned up from ASGs where the filter no longer match."
If you change the `CUSTOM_FILTERS` value in a way such that an ASG which previously matched the filter no longer matches, then you end up in a situation where the ASG will not be managed by the controller, but it will still have a reference to the TG of the Load Balancer defined.

The controller should probably be able to clean up TGs which it owns from ASGs which it doesn't consider for attaching

[2019-12-12 10:56] icy opened #296 "When cloudformation stack is created and/or updated?"
Hi,

Sometimes I need to update small configuration in controller deployment. Sometimes new cloudformation stack is created and replace the old one. sometimes the stack is just updated. This is confusing, and quite scary when a stack is deleted because it can just bring down the access.

Is the documented somewhere, and how to avoid new stack creation? I only need to update something and reuse of

[2019-12-12 12:02] mikkeloscar commented on #296
It's not well documented all the cases where this would happen, but we basically set up a new cloudformation stack whenever we can't do an update via cloudformation without respawning the Load Balancer.

The relevant code for deciding this is here: https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/master/worker.go#L72-L123

The general assumption is that you run this project to

[2019-12-12 12:52] icy opened #297 "Can we use controller-id as part of Cloudformation stack names?"
Now every deployment of the controllers ends up in the similar names in Cloudformation stacks. The naming function just generates stack name from cluster name and the uuid (FIXME) of the namespace:

https://github.com/zalando-incubator/kube-ingress-aws-controller/blob/dd568411e964a6d2e06c96836bb348cbc9a37f7a/aws/naming.go#L25

I don't think this is better than using controller id name. After a few

[2019-12-12 13:04] icy commented on #297
Fyi, it's also possible to find the stack name from logs, e.g.,

[code]
but it's not so convenient.

[2019-12-12 14:10] icy commented on #296
@mikkeloscar External-dns may be so fast. I got an situation when new balancer was being created and its targets were not ready , but the external-dns had just finished updating all dns entries to new load balancer. Our applications ended up in 50x errors. Is there any way to pause external-dns until new LB is completely ready?

[2019-12-12 14:36] jhohertz commented on #296
@icy Which ingress are you running? See if there is an `--update-status` flag available on it, and try setting it to false, as that may be signalling external-dns things are ready before it really is (IE: before this controller had had a chance to set things up)

[2019-12-12 15:36] icy commented on #296
@jhohertz I'm using nginx ingress controller, and `--update-status=false` already. The only option I'm thinking now is to delete the external-dns deployment before I roll out any updates on zalando controller. It would great if I know in advance whether new cloudformation stack is created and/or update .

[2019-12-12 15:58] jhohertz commented on #296
Hmmm. I am a bit hard pressed to say what is going on then.... sequence of events is generally:

- the ingress (nginx) notices the resource and configures it, but does not signal anything via the use of `--upate=status=false`
- kube-ingress-aws-controller provisions the ALB, mostly caring about any ACM associations it needs to make here really... *IT* then updates the status field of the ingress w

[2019-12-12 17:30] szuecs commented on #296
@icy do I understand correctly that nginx instances were not available within the time frame of creating a new ALB and switching the traffic via DNS?

In our case we use skipper and the ALB recreation won't change the skipper targets. I wonder if you can change the process to make it reliable.

[2019-12-12 17:32] szuecs commented on #297
Sounds ok to me to have the controller-id also in the name.
I am not sure how long the name is allowed to be, so this could be the only problem I see.

[2019-12-13 10:57] icy commented on #296
@szuecs yes you got it correctly. Today I have to roll out a security patch for system, and after many testinges I come up with this solution https://gist.github.com/icy/20354a9b6962baa2b4df350533751e73 . Next week I will spend time to investigate the behaviors of the controller and/or to provide more technical details .

Thanks and have great weekend.

[2019-12-13 10:59] icy commented on #297
I would spend time to have a PR. Thanks for your input.

[2019-12-13 16:00] mikkeloscar commented on #297
If we put the controller-id in the stack-name there are a lot of edge cases which has to be considered and I don't see what the real value is other than identifying the stack quickly. It is already on the tags of stacks so you can look there.

The edge cases I'm talking about is:
* you can't rename a stack so you can't manually change ownership if you wanted to
* Stack names are limited so if you

[2019-12-13 21:21] szuecs commented on #297
I agree with @mikkeloscar.
I normally just copy and paste the status field from the ingress into the search field to filter loadbalancers.
I also think that you can easily use a tags filter with aws cli, but on the other hand if you want to have it and you add an option to opt-in then I have nothing against it.
I would not like to have fallbacks if name is too long if we not already have one, beca

[2019-12-23 20:37] rifelpet opened #298 "Support for target-type IP"
For CNI providers that provide VPC IPs to pods, ALBs and NLBs can target the pod IPs directly rather than instance IDs. This bypasses kube-proxy and can avoid cross-AZ traffic by instances that do not run one of the service's pods.

https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#target-type

I think it would be great if kube-ingress-aws-controller

[2019-12-24 21:57] szuecs commented on #298
@rifelpet from my side it’s fine to implement that, if you opt-in via cli flag to enable endpoint lookups and annotations to opt-in via ingress. I am happy to read your pull request.

On the other hand no one should use nodeport service and if you use skipper as hostnetwork target you get the same (no service but endpoints), of course you have an additional hop, which might be bad for some workloa

[2019-12-29 15:38] dintel commented on #170
@so0k Did you have any progress on this or did you implement any workaround for this issue?

[2019-12-30 14:59] szuecs commented on #170
@dintel can you add what issue do you have?
We detect certificates automatically and use all of them in the https listener (up to 25 per alb), in case of more certificates we create more ALBs.
We rely on the SNI implementation of ALBs to select the certificate. I guess we can easily add the cert by arn annotations, we already had that in the past. I would like to understand what the issue is you h

[2020-01-01 22:32] szuecs commented on #296
Why you spawn new nginx-ingress in this case?
If you have the old ones running you would not have a downtime.

[2020-01-03 08:58] icy commented on #296
Thanks @szuecs for your time reading and fixing my gist.

You have a good question. By mistake, the controller in our production infrastructure caught all ingress objects in the cluster. We wanted to limit the effects of that controller,and at the same time, enforced some applications to use another ingress class (See also my security note: https://gist.github.com/icy/52f3fe241994ad54c2519c3447c80

[2020-01-03 09:28] szuecs commented on #296
Thanks @icy for coming back!

Your security note gist is correct and some people also use the same pattern for implementing prod/staging/dev environments in the same cluster.

[2020-01-03 09:28] #296 closed

[2020-01-08 12:02] pabloborh opened #299 "Define listener custom rules"
It could be possible to define custom rules for loadbalancer listener?

For example:
You have a website deployed inside k8s. You want route "my-domain.com" but /blog path is
managed from outside (wordpress i.e.).

For this purpose you can add a listener rule, forwarding /blog to another ec2 machine. Currently you can add this configuration in a "manually" way but if kube-ingress-aws-controller del

[2020-01-08 12:09] mikkeloscar commented on #299
I think this falls a bit out of scope of what the controller is supposed to do (manage Load Balancers based on Ingress resources). If you can express it via ingress it may make sense, but note that general path routing is also implemented in this controller https://github.com/zalando-incubator/kube-ingress-aws-controller/issues/47

[2020-01-10 09:33] mariusv opened #300 "Update aws-sdk-go for new AWS region (me-south-1)"
AWS introduced a new region in Bahrain (me-south-1) which is supported in `aws-sdk-go v1.26.2`

[2020-01-10 10:32] mikkeloscar commented on #295
This also means some ASGs can be left with non-existing target groups and new instances can't be started.

[2020-01-10 10:32] #300 closed

[2020-01-13 02:38] so0k commented on #170
Sorry I didn't make progress, we iterated on many different configurations mostly using Terraform and by the time we had a working solution (NLB with TLS termination in Envoy Edge nodes) - we moved on and it stayed in Terraform) - I have also since moved to another company and will most likely not have the time to work on this.

[2020-01-14 10:28] #295 closed

[2020-01-28 09:06] szuecs commented on #229
Since a while, you can use NLBs instead of ALBs. Ingress annotation:
`zalando.org/aws-load-balancer-type: nlb`

[2020-01-28 09:06] #229 closed

[2020-01-28 09:10] szuecs commented on #261
Annotations are specific to controllers, so I believe we can support some features, but not their annotations. Their mapping is also very different from this controller. They use: `ALB -> nodeport service -> pods`
This one use `ALB/NLB -> hostport -> pods`, and hostport can be skipper to do the routing.

Therefore I will close this issue, because DualStack is already supported.

[2020-01-28 09:10] #261 closed

[2020-01-28 09:15] szuecs commented on #240
history of a helm chart https://github.com/helm/charts/pull/4538

https://github.com/baez90/kube-ingress-aws-controller-helm is available but unchanged since 2 years.

@MarcusNoble I think you had somewhere a helm chart, right?
Maybe we can just point to yours in our documentation and close this issue

[2020-01-28 09:17] MarcusNoble commented on #240
Unfortuantely the one we have is bespoke to our org (a bunch of fixed config etc.) and only available on our internal source control.

[2020-01-28 09:21] szuecs commented on #299
This needs more information like specification how to separate ingress routing path from custom rules.
It would be also possible to just use service type ExternalName for this feature.
`ALB/NLB --> skipper --> https://somewhere-not-k8s.example.com`

[2020-01-28 09:27] szuecs commented on #240
Ok thanks for the reply

[2020-01-28 09:28] szuecs commented on #297
@icy do you think it's valuable to work on this or should we close it?

[2020-01-28 09:40] szuecs opened #303 "Support RouteGroup CRD"
https://github.com/zalando/skipper/releases/tag/v0.11.29 implements [RouteGroup CRD](https://opensource.zalando.com/skipper/kubernetes/routegroup-crd/), which enables a lot of different [routing cases](https://opensource.zalando.com/skipper/kubernetes/routegroups/) in much more clean way than using ingress. Examples are ongoing A/B tests and traffic switching, which can't be expressed easily in in

[2020-01-28 10:28] icy commented on #297
Sorry for the late update @szuecs .. I tried to fork to add tagging support, but I'm too busy to push now. I will re-open the ticket when the PR is ready. Thanks a lot.

[2020-01-28 10:28] #297 closed

[2020-01-30 12:31] szuecs commented on #303
RouteGroup support was merged and released https://github.com/zalando-incubator/kube-ingress-aws-controller/releases/tag/v0.10.0
There can be updates on the status field for reporting errors in the future.

[2020-01-31 08:59] #303 closed

[2020-01-31 13:52] dintel commented on #170
Sorry for a delay. In our case we have a few certificates in use and they all are assigned to ALB correctly, but default certificate is always chosen alphabetically by ingress controller. It does not matter for SNI enabled clients, but we need to configure default certificates for clients that don't support SNI.
The question is how this could be fixed? Annotation? What if multiple ingresses have t

[2020-01-31 14:11] szuecs opened #305 "disable H2 via ingress annotation"
In some cases you want to disable H2 on ALBs, which should be done by ingress annotation to opt-out h2 support

[2020-01-31 17:03] szuecs commented on #170
@dintel Right now you can not choose default certs.
If you have different ingress with different values you should get additional ALBs provisioned.
You can use `zalando.org/aws-load-balancer-ssl-cert` to assign a cert ARN via ingress annotation such that you can pin a certificate to an ingress, but this was before we used the SNI shared ALBs.

[2020-02-03 13:01] mikkeloscar commented on #305
Fixed in #306

[2020-02-03 13:01] #305 closed

[2020-02-05 16:27] joberdick opened #307 "Rout53 healthcheck make sense for this project?"
We are in process to solve multi-cluster ingress. External-dns project recently added support for latency records. This is a good step forward, but doesnt meet our needs fully.

When using the Zalando ingress controller, we can have many apps running on one load balancer. We want the latency records tied to those individual apps. In order to do this, we need to create a route53 healthchecks that g

[2020-02-05 19:30] mikkeloscar commented on #307
I don't really know how Route53 health checks or latency records work. Could you give an example of what you would like to configure in this project such that it would solve your problem, then it's easier for me to give an opinion on how it could work.

One prerequisite is that you can create Route53 health checks via Cloudformation.

[2020-02-07 17:23] szuecs opened #308 "omit LB creation for cluster.local domain (was: adding a load balancer type none)"
In order to support [cluster internal east-west routing](https://opensource.zalando.com/skipper/kubernetes/east-west-usage/) without having an assigned load balancer we should create a `zalando.org/aws-load-balancer-type: none`, such that users can opt-out the load balancer creation and external-dns would not create a DNS name for it.

Why not using class to opt-out selection of this ingress-contr

[2020-02-07 17:28] mikkeloscar commented on #308
I would rather that we define something like an internal zone e.g. `cluster.local` via a flag or so. And any ingress which specifies a hostname with the `.cluster.local` zone will not get a load balancer *unless* there is also another hostname defined.

with the `zalando.org/aws-load-balancer-type: none` annotation, you can't have both an internal and external name and the user has to explicitly o

[2020-02-07 21:30] szuecs commented on #308
@mikkeloscar true, but we have already the automated provisioning via east-west.
Anyways I think your idea makes sense, let’s do that!

[2020-02-11 12:22] rverma-jm commented on #298
+1

[2020-02-13 09:09] ruudk opened #309 "Extreme slowdown since upgrading to v0.9.7 (5 minutes)"
When I run on 0.9.6 I get all debug messages with `--debug` flag.

But starting from `v0.9.7` it stops, and I only see:
[code]

I don't see anything weird in https://github.com/zalando-incubator/kube-ingress-aws-controller/compare/v0.9.6...v0.9.7

[2020-02-13 09:36] mikkeloscar commented on #309
I can not replicate this issue. I see `debug` messages for v0.10.1:

[code]

If you only see the line you posted and nothing else. Then it seems like it's stuck somewhere.

[2020-02-13 09:36] ruudk commented on #309
Super weird. Any idea how I can find out where it's stuck on?

[2020-02-17 15:24] icy opened #310 "v0.8.14: http -> https redirection causes an endless loop"
Hi,

I'm using the controller version 0.8.14,and the daemon is started as below

[code]

I am trying to use the annotation for the ingress object as below

[code]

After applying the configuration, I got the loop

https://gist.github.com/icy/d852c7bd02891c2b159d14fa5f4c41e6

This happens to all Ingress on the system, not only the new one I have created.

Is that I'm missing something? Is this a bu

[2020-02-18 10:20] mikkeloscar commented on #310
Hey, I'm not familiar with how the nginx redirect is configured, but it could be that it doesn't detect a redirected request and keeps trying to redirect it.

When we use [skipper]() behind the ALB we have this redirect rule setup:

[code]

It basically looks for the header `X-Forwarded-Proto` and does a redirect only in that case. Nginx has to do something similar to work.

As an alternative you

[2020-02-21 14:12] jhohertz opened #312 "v0.10.0+ will fail to run if RouteGroups CRD is not installed"
Recently tried a newer version of this, and found I had to revert because we do not have this CRD installed.

Should this be optional for those continuing to use traditional Ingress records?

[2020-02-21 14:20] jhohertz commented on #312
Too funny, looks like you might have addressed this already in a release a few hours ago. :)

[2020-02-21 14:20] jhohertz commented on #312
Sort of... Any way to run going forward w/o the CRD?

[2020-02-21 16:23] mikkeloscar commented on #312
Sorry about that! IMO we should make it optional with a flag going forward (defaulting to false).

[2020-02-23 10:15] szuecs commented on #312
@jhohertz @mikkeloscar I think it should auto detect, if there’s no crd, then don’t try it. The problem is we would have another breaking change if we would have it not enabled as default.
That’s how we addresses it in skipper.
Wdyt?

[2020-02-24 08:21] mikkeloscar commented on #312
Auto-detection is fine for me. Considering we did bump the minor version for this change I can see why disabling by default (via flag) would be breaking the other way.

[2020-02-24 08:49] szuecs commented on #309
@ruudk normally I would try `strace -ff -p <pid>` to see where a process is stuck. I guess it's too old and you already killed the process. :)

[2020-02-24 12:24] #312 closed

[2020-02-25 06:38] icy commented on #310
@mikkeloscar It seems my current nginx ingress controller doesn't implement that header detection (maybe it's an old version, I don't know right now). I will have a look.

We're using nginx ingress controller for some internal apps, so we are not really ready to switch to another controller at the stage. Using the option `--redirect-http-to-https` is also a good idea, I will need to inform all cli

[2020-02-26 10:50] #310 closed

[2020-03-02 08:45] #308 closed

[2020-03-02 15:55] jbilliau5668 commented on #307
Basically, we would want this controller to create a Route53 healthcheck, pointing to a configured healthcheck path (we could do this via an annotation, for example). It would create the healthcheck in Route53 which, by default, pings that endpoint  every 30 seconds and if it fails twice, the healthcheck goes unhealthy. If it's tied to Route53 record, that record effectively goes "inactive".

So l

[2020-03-03 18:15] mikkeloscar commented on #307
After looking more into this it seems to me that this should rather be solved on external-dns side. This project currently don't configure Route53, so it would be a bit weird if it started to manage route53 health checks with the hostname of the ingress IMO as external-dns is handling everything else related to Route53.

What do you think?

[2020-03-03 20:16] jbilliau5668 commented on #307
Yeah another guy tried that, apparently the main folks behind that controller don't think it belongs over there either; the guy ended up just writing his own controller, which is what we did too. We were just trying to merge the functionality into an existing one so we wouldn't need a separate controller, but alas, we have failed.

Thanks for looking into it.